<div class="panel">
<div class="tab-bord-bijouterie-form">
	<div class="panel-heading">
		<h3 class="panel-title">Informations générales</h3>
	</div>
	{{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
	<div class="panel-body">
		<div class="row row-lg">
			<div class="col-xl-12">

				<div class ="form-error">
					{{ form_errors(form) }}
				</div>

				<div class="form-row">

					<div class="form-group col-md-4">
						{{ form_label(form.reference) }}
						{{ form_widget(form.reference, {'attr': {'class': 'form-control'}}) }}
					</div>
					<div class="form-group col-md-3">
						{{ form_label(form.prixVente) }}
						{{ form_widget(form.prixVente, {'attr': {'class': 'form-control'}}) }}
					</div>
					<div class="form-group  col-md-3">
						{{ form_label(form.remiseMax) }}
						{{ form_widget(form.remiseMax, {'attr': {'class': 'form-control'}}) }}
					</div>
					<div class="form-group  col-md-2">
						<label>Photo</label>
						<div class="input-group input-group-file" data-plugin="inputGroupFile">
		                    <input type="text" class="form-control" readonly="">
		                    <span class="input-group-btn">
		                      <span class="btn btn-outline btn-file">
		                        <i class="icon wb-upload" aria-hidden="true"></i>
		                        <input type="file" name="image" style="opacity:0">
		                      </span>
		                    </span>
		                  </div>
						
					</div>

				</div>
				
			</div>
		</div>
		<div class="row row-lg">
			<div class="col-xl-6">
				<div class="example example-well mt-0 p-30">
					<div id="examplePanel" class="panel mb-0" data-load-callback="customRefreshCallback">
						<div class="panel-heading">
							<h3 class="panel-title">Or utilisé</h3>
							<div class="panel-actions">
								
								
								<a class="panel-action icon wb-minus" aria-expanded="true" data-toggle="panel-collapse" aria-hidden="true"></a>
								<a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
							</div>
						</div>
						<div class="panel-body">
							<div class="form-group  col-md-12">
								<ul class="formItems"
								data-prototype="{% spaceless %}{% filter escape %}{% include 'bijou/compositionor-prototpe.html.twig' with { 'form': form.golds.vars.prototype } %}{% endfilter %}{% endspaceless %}">
								{# iterate over each existing tag and render its only field: name #}
								{% for form in form.golds %}
								<li class="formItem"><div class="golds_block">
									<div class="form-group row">
										<div class="col-sm-6">
											{{ form_label(form.gold, "Or", {'label_attr': {'class': 'control-label'}}) }}
											<small class="help-block">{{ form_errors(form.gold) }}</small>
											{{ form_widget(form.gold, {'attr': {'class': 'form-control'}}) }}

										</div>
										<div class="col">
											{{ form_label(form.quantite, "Poids(gramme)", {'label_attr': {'class': 'control-label'}}) }}
											<small class="help-block">{{ form_errors(form.quantite) }}</small>
											{{ form_widget(form.quantite, {'attr': {'class': 'form-control'}}) }}
										</div>
									</div>
								</div></li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xl-6">
				<div class="example example-well mt-0 p-30">
					<div id="examplePanel" class="panel mb-0" data-load-callback="customRefreshCallback">
						<div class="panel-heading">
							<h3 class="panel-title">Pièrres utilisées</h3>
							<div class="panel-actions">
								
								
								<a class="panel-action icon wb-minus" aria-expanded="true" data-toggle="panel-collapse" aria-hidden="true"></a>
								<a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
							</div>
						</div>
						<div class="panel-body">
							<div class="form-group  col-md-12">
								<ul class="formItems2"
								data-prototype="{% spaceless %}{% filter escape %}{% include 'bijou/compositionpierre-prototpe.html.twig' with { 'form': form.pierres.vars.prototype } %}{% endfilter %}{% endspaceless %}">
								{# iterate over each existing tag and render its only field: name #}
								{% for form in form.pierres %}
								<li class="formItem"><div class="pierres_block">
									<div class="form-group row">
										<div class="col-sm-5">
											{{ form_label(form.pierre, "Pièrre", {'label_attr': {'class': 'control-label'}}) }}
											<small class="help-block">{{ form_errors(form.pierre) }}</small>
											{{ form_widget(form.pierre, {'attr': {'class': 'form-control'}}) }}

										</div>
										<div class="col">
											{{ form_label(form.quantite, "Nb pièces", {'label_attr': {'class': 'control-label'}}) }}
											<small class="help-block">{{ form_errors(form.quantite) }}</small>
											{{ form_widget(form.quantite, {'attr': {'class': 'form-control'}}) }}
										</div>
									</div>
								</div></li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="form-row">	
			<button class="btn btn-orange">{{ button_label|default('Enregistrer') }} </button> 
			<a href="{{ path('produit_bijou_index') }}" class="retour-liste ml-20">Liste des devis</a>
		</div>

	</div>
</div>
{{ form_end(form) }}
</div>



















