<div class="golds_block">
	<div class="form-group row">
		<div class="col-sm-6">
			{{ form_label(form.gold, "Or", {'label_attr': {'class': 'control-label'}}) }}
			<small class="help-block">{{ form_errors(form.gold) }}</small>
			{{ form_widget(form.gold, {'attr': {'class': 'form-control'}}) }}

		</div>
		<div class="col">
			{{ form_label(form.quantite, "Poids(gramme)", {'label_attr': {'class': 'control-label'}}) }}
			<small class="help-block">{{ form_errors(form.quantite) }}</small>
			{{ form_widget(form.quantite, {'attr': {'class': 'form-control'}}) }}
		</div>
	</div>
</div>