<div class="pierres_block">
	<div class="form-group row">
		<div class="col-sm-6">
			{{ form_label(form.pierre, "Pièrre", {'label_attr': {'class': 'control-label'}}) }}
			<small class="help-block">{{ form_errors(form.pierre) }}</small>
			{{ form_widget(form.pierre, {'attr': {'class': 'form-control'}}) }}

		</div>
		<div class="col">
			{{ form_label(form.quantite, "Nb pièces", {'label_attr': {'class': 'control-label'}}) }}
			<small class="help-block">{{ form_errors(form.quantite) }}</small>
			{{ form_widget(form.quantite, {'attr': {'class': 'form-control'}}) }}
		</div>
</div>