{% extends 'base.html.twig' %}

{% block headtitle %}Bijoux/Modification{% endblock %}
{% block title %}<div class="col-12 text-center mt-4 mb-4">
	    <div class="grand-titre-tab-de-bord">
		      MODIFIER UN BIJOU
		</div>
	</div>{% endblock %}

{% block body %}
<div class="tab-bord-bijouterie-form">
        <div class="titre-tab-page-interne mb-4">
            Modifier un bijou
	    </div>

    {{ include('bijou/_form.html.twig', {'button_label': 'Modifier'}) }}

{% endblock %}

{% block javascripts %}
<script>


displayRelationForms('formItems');
displayRelationForms('formItems2');

function displayRelationForms(tag){
    var $collectionHolder;

    // setup an "add a tag" link
    var $addTagButton = $('<div class="col-sm-2 float-right text-right"><button type="button" class="btn btn-floating btn-success btn-sm"><i class="icon wb-plus" aria-hidden="true"></i></button></div>'); 
    var $newLinkLi = $('<li></li>').append($addTagButton);

    jQuery(document).ready(function() {
        
    
        // Get the ul that holds the collection of formItems
        $collectionHolder = $('ul.'+tag);

        // add a delete link to all of the existing tag form li elements
        $collectionHolder.find('li.formItem').each(function() {
            addTagFormDeleteLink($(this));
        });

        // add the "add a tag" anchor and li to the formItems ul
        $collectionHolder.append($newLinkLi);

        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        $collectionHolder.data('index', $collectionHolder.find(':input').length);

        $addTagButton.on('click', function(e) {
            // add a new tag form (see next code block)
            addTagForm($collectionHolder, $newLinkLi);
        });
    });
}


function addTagForm($collectionHolder, $newLinkLi) {
    // Get the data-prototype explained earlier
    var prototype = $collectionHolder.data('prototype');

    // get the new index
    var index = $collectionHolder.data('index');

    var newForm = prototype;
    // You need this only if you didn't set 'label' => false in your formItems field in TaskType
    // Replace '__name__label__' in the prototype's HTML to
    // instead be a number based on how many items we have
    // newForm = newForm.replace(/__name__label__/g, index);

    // Replace '__name__' in the prototype's HTML to
    // instead be a number based on how many items we have
    newForm = newForm.replace(/__name__/g, index);

    // increase the index with one for the next item
    $collectionHolder.data('index', index + 1);

    // Display the form in the page in an li, before the "Add a tag" link li
    var $newFormLi = $('<li class="formItem"></li>').append(newForm);
    $newLinkLi.before($newFormLi);

    addTagFormDeleteLink($newFormLi);
}

function addTagFormDeleteLink($tagFormLi) {
    var $removeFormButton = $('<div class="col"><label>Actions</label><br><button type="button" class="btn btn-floating btn-orange-2 btn-xs"><i class="icon wb-trash" aria-hidden="true"></i></button></div>');
    console.log($tagFormLi.html());
    $tagFormLi.find('.form-group').append($removeFormButton);

    $removeFormButton.on('click', function(e) {
        // remove the li for the tag form
        $tagFormLi.remove();
    });
}


</script>
{% endblock %}
