{% extends 'base.html.twig' %}

{% block headtitle %}Bijou{% endblock %}
{% block title %}<div class="col-12 text-center mt-4 mb-4">
	    <div class="grand-titre-tab-de-bord">
		     BIJOUX
		</div>
	</div> {% endblock %}



{% block body %}
<div class="container">
<div class="tab-bord-bijouterie">

<div class="row mb-5">
   <div class="col-12 col-md-6 mb-3">
       <div class="titre-tab-page-interne">
           Liste des bijoux
	    </div>	   
   </div>
   <div class="col-12 col-md-6 mb-3">
         {% block headerlinks %}
			<a href="{{ path('produit_bijou_new') }}">
				<button type="button" class="btn btn-success button-add-update-tab-interne"><i class="icon wb-plus" aria-hidden="true"></i> Ajouter</button>
			</a>
		{% endblock %}
   </div>
</div> 


    <table class="table table-bordered table-dark-interne table-hover table-striped dataTable no-footer" cellspacing="0" id="exampleAddRow">
        <thead>
            <tr>
                <th>Image</th>
                <th>Reference</th>
                <th>Prix de vente</th>
                <th>Remise max</th>
                <th>Qté en stock</th>
                {% if is_granted('ROLE_ADMIN') %}<th>Prix de fabrication</th>{% endif %}
                <th>Qté fabriquable</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bijou in bijous %}
            <tr>
                <td>{% if bijou.image is not null %} <img src="{{asset('uploads/images/' ~ bijou.image.filename )}}" alt="image" height="60" /> {% endif %}</td>
                <td>{{ bijou.reference }}</td>
                <td>{{ bijou.prixVente }} DT</td>
                <td>{{ bijou.remiseMax }} %</td>
                <td>{{ bijou.qteEnstock }}</td>
                {% if is_granted('ROLE_ADMIN') %}<td>{{ prixFabrication(bijou)|price(3,'.',' ') }}</td>{% endif %}
                <td>{{ qteFabricable(bijou) }}</td>
                <td class="actions">
                    <a href="{{ path('produit_bijou_edit', {'id': bijou.id}) }}" class="btn btn-sm btn-icon btn-pure icon-orange"
                      data-toggle="tooltip" data-original-title="Modifier"><i class="icon wb-edit" aria-hidden="true"></i></a>
                    <form class="inline-block" method="post" action="{{ path('produit_delete', {'id': bijou.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bijou.id) }}">
                    <a onclick="$(this).parent('form').submit()" href="javascript:;" class="btn btn-sm btn-icon btn-pure icon-orange"
                    data-toggle="tooltip" data-original-title="Supprimer"><i class="icon wb-trash" aria-hidden="true"></i></a>
                </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun enregistrement n'est disponible!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
