{% extends 'base.html.twig' %}

{% block title %}Bijou{% endblock %}

{% block body %}
    <h1>Bijou</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bijou.id }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ bijou.reference }}</td>
            </tr>
            <tr>
                <th>PrixVente</th>
                <td>{{ bijou.prixVente }}</td>
            </tr>
            <tr>
                <th>RemiseMax</th>
                <td>{{ bijou.remiseMax }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('bijou_index') }}">back to list</a>

    <a href="{{ path('bijou_edit', {'id': bijou.id}) }}">edit</a>

    {{ include('bijou/_delete_form.html.twig') }}
{% endblock %}
