{% extends "login-base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="part-1 page animsition vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">
    <div class="page-content vertical-align-middle">
	     <div class="">
			<div class="container-fluid">
			  <div class="row">
				 <div class="col-12">
					  <div class="logo-victoria mb-4">
						   <img src="{{ asset('assets/images/victoria 2.png') }}" >
					  </div>
				</div>	  
      
{% if error %}
  <div class="alert-link">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
  {% endif %}

  
  

  
  
  
  
  <form action="{{ path("fos_user_security_check") }}" method="post">
  <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
  <br>
  
  <div class="col-12"> 
		<div class="form-connexion">						
		   <input type="text"  id="username" placeholder="Nom d'utilisateur" name="_username" value="{{ last_username }}" required="required">
		   <input type="password"  id="password" name="_password" required="required" placeholder="Mot de passe">
		    <button type="submit" class="btn btn-primary btn-block font-weight-600" id="_submit" name="_submit">Se connecter</button>
		</div>   
	</div>		
  </form>
</div>
</div>
</div>	

    </div>
	
	<footer>
		  <div class="logo-gold pt-5 text-center">
			   <img src="/bijouterieApp/public/assets/images/victoria.png">
				 <div class="sous-titre-logo-gold">
					APPLICATION DE GESTION JOAILLERIE
				 </div>	
				 <div class="tab-de-bord-copyright">
					 @2020. TOUS DROITS RÉSERVÉS
				 </div>	
		  </div>
    </footer>
  </div>
{% endblock fos_user_content %}
