{{ form_start(form) }}
<div class ="form-error">
	{{ form_errors(form) }}
</div>
<div class="tab-bord-bijouterie-form">
<div class="form-row">
	<div class="form-group col-md-6">
		{{ form_label(form.reference) }}
		{{ form_widget(form.reference, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="form-group col-md-6">
		{{ form_label(form.caratOr) }}
		{{ form_widget(form.caratOr, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="form-group  col-md-4">
		{{ form_label(form.couleur) }}
		{{ form_widget(form.couleur, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="form-group  col-md-4">
		{{ form_label(form.traitement) }}
		{{ form_widget(form.traitement, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="form-group  col-md-4">
		{{ form_label(form.prixAchat) }}
		{{ form_widget(form.prixAchat, {'attr': {'class': 'form-control'}}) }}
	</div>
</div>
<div class="form-row">	
	<button class="btn btn-orange">{{ button_label|default('Ajouter') }}</button>
	<a href="{{ path('produit_gold_index') }}" class="retour-liste ml-20">Retour à la liste</a>
</div>

{{ form_end(form) }}

