{% extends 'base.html.twig' %}

{% block title %}Gold{% endblock %}

{% block body %}
    <h1>Gold</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ gold.id }}</td>
            </tr>
            <tr>
                <th>Carat</th>
                <td>{{ gold.carat }}</td>
            </tr>
            <tr>
                <th>Couleur</th>
                <td>{{ gold.couleur }}</td>
            </tr>
            <tr>
                <th>Traitement</th>
                <td>{{ gold.traitement }}</td>
            </tr>
            <tr>
                <th>Libele</th>
                <td>{{ gold.libele }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('gold_index') }}">back to list</a>

    <a href="{{ path('gold_edit', {'id': gold.id}) }}">edit</a>

    {{ include('gold/_delete_form.html.twig') }}
{% endblock %}
