{% extends 'base.html.twig' %}

{% block title %}New LigneDevis{% endblock %}

{% block body %}
    <h1>Create new LigneDevis</h1>

    {{ include('ligne_devis/_form.html.twig') }}

    <a href="{{ path('ligne_devis_index') }}">back to list</a>
{% endblock %}
