{% extends 'base.html.twig' %}

{% block title %}LigneDevis{% endblock %}

{% block body %}
    <h1>LigneDevis</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ligne_devi.id }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ ligne_devi.quantite }}</td>
            </tr>
            <tr>
                <th>PrixUnitaire</th>
                <td>{{ ligne_devi.prixUnitaire }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ligne_devis_index') }}">back to list</a>

    <a href="{{ path('ligne_devis_edit', {'id': ligne_devi.id}) }}">edit</a>

    {{ include('ligne_devis/_delete_form.html.twig') }}
{% endblock %}
