{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="page animsition vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">
    <div class="page-content vertical-align-middle">
      <div class="brand">
        <img class="brand-img" src="{{ asset('assets/images/logo.png') }}" alt="...">
      </div>
      <p>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
            <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        {% endif %}
      </p>
{% if error %}
	<div class="alert-link">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}

	<form action="{{ path("fos_user_security_check") }}" method="post">
	<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

	<div class="form-group">
      <label class="sr-only" for="username">{{ 'security.login.username'|trans }}</label>
      <input type="text" class="form-control" id="username" placeholder="Nom d'utilisateur" name="_username" value="{{ last_username }}" required="required">
    </div>

    <div class="form-group">
      <label class="sr-only" for="password">Password</label>
      <input type="password" class="form-control" id="password" name="_password" required="required" placeholder="Mot de passe">
    </div>
	
    <div class="form-group clearfix">
      <div class="checkbox-custom checkbox-inline pull-left">
        <input type="checkbox" id="remember_me" name="_remember_me" value="on">
        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
      </div>
      <!--<a class="pull-right" href="forgot-password.html">Forgot password?</a>-->
    </div>

    <button type="submit" class="btn btn-primary btn-block" id="_submit" name="_submit">{{ 'security.login.submit'|trans }}</button>
	</form>
	
	<footer class="page-copyright">
        <p>Plateforme des diagnostics immobiliers</p>
        <p>© 2018. Tous droits réservés.</p>
        <div class="social">
          <a href="javascript:void(0)">
            <i class="icon bd-twitter" aria-hidden="true"></i>
          </a>
          <a href="javascript:void(0)">
            <i class="icon bd-facebook" aria-hidden="true"></i>
          </a>
          <a href="javascript:void(0)">
            <i class="icon bd-dribbble" aria-hidden="true"></i>
          </a>
        </div>
      </footer>
    </div>
  </div>
{% endblock fos_user_content %}
