{{ form_start(form) }}
<div class ="form-error">
	{{ form_errors(form) }}
</div>
<div class="tab-bord-bijouterie-form">
<div class="form-row">

	<div class="form-group  col-md-12">
		{{ form_label(form.libele) }}
		{{ form_widget(form.libele, {'attr': {'class': 'form-control'}}) }}
	</div>
</div>
<div class="form-row">	
	<button class="btn btn-orange">{{ button_label|default('Ajouter') }}</button>
	<a href="{{ path('carat_index') }}" class="retour-liste ml-20">Retour à la liste</a>
</div>

{{ form_end(form) }}

