{% extends 'base.html.twig' %}

{% block headtitle %}Carat{% endblock %}
{% block title %}<div class="col-12 text-center mt-4 mb-4">
	    <div class="grand-titre-tab-de-bord">
		      AJOUTER UN CARAT
		</div>
	</div>{% endblock %}

{% block body %}
<div class="tab-bord-bijouterie-form">
    <div class="titre-tab-page-interne mb-4">
          Ajouter un carat
	    </div>

    {{ include('carat/_form.html.twig') }}
    
{% endblock %}
