{% extends 'base.html.twig' %}

{% block title %}Carat{% endblock %}

{% block body %}
    <h1>Carat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ carat.id }}</td>
            </tr>
            <tr>
                <th>Libele</th>
                <td>{{ carat.libele }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('carat_index') }}">back to list</a>

    <a href="{{ path('carat_edit', {'id': carat.id}) }}">edit</a>

    {{ include('carat/_delete_form.html.twig') }}
{% endblock %}
