<form method="post" action="{{ path('achat_accessoire_delete', {'id': achat_accessoire.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ achat_accessoire.id) }}">
    <button class="btn">Delete</button>
</form>
