{% extends 'base.html.twig' %}

{% block title %}Edit AchatAccessoire{% endblock %}

{% block body %}
    <h1>Edit AchatAccessoire</h1>

    {{ include('achat_accessoire/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('achat_accessoire_index') }}">back to list</a>

    {{ include('achat_accessoire/_delete_form.html.twig') }}
{% endblock %}
