{% extends 'base.html.twig' %}

{% block title %}AchatAccessoire index{% endblock %}

{% block body %}
    <h1>AchatAccessoire index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prix</th>
                <th>Quantite</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for achat_accessoire in achat_accessoires %}
            <tr>
                <td>{{ achat_accessoire.id }}</td>
                <td>{{ achat_accessoire.prix }}</td>
                <td>{{ achat_accessoire.quantite }}</td>
                <td>{{ achat_accessoire.date ? achat_accessoire.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('achat_accessoire_show', {'id': achat_accessoire.id}) }}">show</a>
                    <a href="{{ path('achat_accessoire_edit', {'id': achat_accessoire.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('achat_accessoire_new') }}">Create new</a>
{% endblock %}
