{% extends 'base.html.twig' %}

{% block title %}New AchatAccessoire{% endblock %}

{% block body %}
    <h1>Create new AchatAccessoire</h1>

    {{ include('achat_accessoire/_form.html.twig') }}

    <a href="{{ path('achat_accessoire_index') }}">back to list</a>
{% endblock %}
