{% extends 'base.html.twig' %}

{% block title %}AchatAccessoire{% endblock %}

{% block body %}
    <h1>AchatAccessoire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ achat_accessoire.id }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ achat_accessoire.prix }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ achat_accessoire.quantite }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ achat_accessoire.date ? achat_accessoire.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('achat_accessoire_index') }}">back to list</a>

    <a href="{{ path('achat_accessoire_edit', {'id': achat_accessoire.id}) }}">edit</a>

    {{ include('achat_accessoire/_delete_form.html.twig') }}
{% endblock %}
