{{ form_start(form) }}
<div class ="form-error">
	{{ form_errors(form) }}
</div>

<div class="form-row">
	<div class="form-group col-md-6">
		{{ form_label(form.pierre, 'Pièrre') }}
		<div class="row">
			<div class="form-group col-md-6">
				{{ form_widget(form.typePierre, {'attr': {'class': 'form-control'}}) }}
			</div>
			<div class="form-group col-md-6">
				{{ form_widget(form.pierre, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
	</div>
	<div class="form-group col-md-6">
		{{ form_label(form.fournisseur, "Fournisseur") }}
		{{ form_widget(form.fournisseur, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="form-group col-md-4">
		{{ form_label(form.prix, "Prix Unitaire d'achat") }}
		{{ form_widget(form.prix, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="form-group  col-md-4">
		{{ form_label(form.quantite, "Quantité (ct)") }}
		{{ form_widget(form.quantite, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="form-group  col-md-4">
		{{ form_label(form.date, "Date d'achat") }}
		{{ form_widget(form.date, {'attr': {'class': 'form-control', 'data-plugin': 'datepicker'}}) }}
	</div>
</div>
<div class="form-row">	
	<button class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>
	<a href="{{ path('achat_pierre_index') }}" class="btn btn-outline btn-primary ml-20">Retour à la liste</a>
</div>

{{ form_end(form) }}
