{% extends 'base.html.twig' %}

{% block headtitle %}Achat des pièrres/Modification{% endblock %}
{% block title %}Achat des pièrres/Modification{% endblock %}

{% block body %}
    <h1>Modifier un Achat</h1>

    {{ include('achat_pierre/_form.html.twig', {'button_label': 'Editer'}) }}

{% endblock %}

{% block javascripts %}
<script>
$(document).ready(function(){

	$( "#achat_pierre_pierre option" ).hide();
	$('#achat_pierre_pierre').attr("placeholder", "Selectionnez un type de pièrre");
	$( "#achat_pierre_pierre option" ).each(function( index ) {
		$( this ).attr('data-typepierre', $( this ).text());
		res = $( this ).text().split(" ");
		$( this ).text(res[1]);
		if($( this ).attr('data-typepierre').indexOf( $('#achat_pierre_typePierre  option:selected').text() ) != -1){
			console.log( index + ": " + $( this ).text() );
			$( this ).show();
		}	  
	});
});

$(document).on("change", "#achat_pierre_typePierre", function (e)
{
	$( "#achat_pierre_pierre option" ).hide();
	$( "#achat_pierre_pierre option" ).each(function( index ) {
		if($( this ).attr('data-typepierre').indexOf( $('#achat_pierre_typePierre  option:selected').text() ) != -1){
			console.log( index + ": " + $( this ).text() );
			$( this ).show();
		}	  
	});
});
</script>
{% endblock %}
