{% extends 'base.html.twig' %}

{% block headtitle %}Achat des pierres{% endblock %}
{% block title %}Achat des pierres{% endblock %}

{% block headerlinks %}
    <a href="{{ path('achat_pierre_new') }}">
        <button type="button" class="btn btn-success mt-60"><i class="icon wb-plus" aria-hidden="true"></i> Ajouter</button>
    </a>
{% endblock %}

{% block body %}
    <h2>Liste des achats des pières</h2>
    <table class="table table-bordered table-hover table-striped" cellspacing="0" id="exampleAddRow">
        <thead>
        <tr>
          <th>Pièrre</th>
          <th>Prix Unitaire</th>
          <th>Quantité (ct)</th>
          <th>Fournisseur</th>
          <th>Date</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for achat in achat_pierres %}
            <tr class="gradeA">
                <td>{{ achat.pierre }}</td>
                <td>{{ achat.prix }} DT</td>
                <td>{{ achat.quantite }}</td>
                <td>{{ achat.fournisseur }}</td>
                <td>{{ achat.date ? achat.date|date('d/m/Y') : '' }}</td>
                <td class="actions">
                    <a href="{{ path('achat_pierre_edit', {'id': achat.id}) }}" class="btn btn-sm btn-icon btn-pure btn-primary"
                      data-toggle="tooltip" data-original-title="Modifier"><i class="icon wb-edit" aria-hidden="true"></i></a>
                    <form class="inline-block" method="post" action="{{ path('achat_pierre_delete', {'id': achat.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ achat.id) }}">
                    <a onclick="$(this).parent('form').submit()" href="javascript:;" class="btn btn-sm btn-icon btn-pure btn-danger"
                    data-toggle="tooltip" data-original-title="Supprimer"><i class="icon wb-trash" aria-hidden="true"></i></a>
                </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun achat n'est disponible!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

