{% extends 'base.html.twig' %}

{% block title %}AchatPierre{% endblock %}

{% block body %}
    <h1>AchatPierre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ achat_pierre.id }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ achat_pierre.prix }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ achat_pierre.date ? achat_pierre.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ achat_pierre.quantite }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('achat_pierre_index') }}">back to list</a>

    <a href="{{ path('achat_pierre_edit', {'id': achat_pierre.id}) }}">edit</a>

    {{ include('achat_pierre/_delete_form.html.twig') }}
{% endblock %}
