
<div class="panel">
	<div class="panel-heading">
		<h3 class="panel-title">Informations générales</h3>
	</div>
	{{ form_start(form) }}
	<div class="panel-body">
		<div class="row row-lg">
			<div class="col-xl-5">
				<div class="form-row">
					<div class="form-group  col-12" style="font-weight:bold;font-size:20px;text-align:center;dispaly:none">
						Total <div id="montant" style="display:inline-block;">0</div> DT
					</div>
				</div>

				<div class ="form-error">
					{{ form_errors(form) }}
				</div>

				<div class="form-row">
					<div class="form-group  col-md-6">
						{{ form_label(form.client) }}
						{{ form_widget(form.client, {'attr': {'class': 'form-control'}}) }}
					</div>
					<div class="form-group col-md-6">
						{{ form_label(form.date) }}
						{{ form_widget(form.date, {'attr': {'class': 'form-control', 'data-plugin': 'datepicker'}}) }}
					</div>
					<div class="form-group  col-md-12">
						{{ form_label(form.montant) }}
						{{ form_widget(form.montant, {'attr': {'class': 'form-control', 'readOnly': 'readOnly'}}) }}
					</div>
				</div>
				<div class="form-row mb-4">	
					<button class="btn btn-orange">{{ button_label|default('Enregistrer') }} </button> 
					<a href="{{ path('devis_index') }}" class="retour-liste ml-20">Liste des devis</a>
				</div>
			</div>

			<div class="col-xl-7">
				<div class="example example-well mt-0 p-30">
					<div id="examplePanel" class="panel mb-0" data-load-callback="customRefreshCallback">
						<div class="panel-heading">
							<h3 class="panel-title">Liste des bijoux</h3>
							<div class="panel-actions">
								
								
								<a class="panel-action icon wb-minus" aria-expanded="true" data-toggle="panel-collapse" aria-hidden="true"></a>
								<a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
							</div>
						</div>
						<div class="panel-body">
							<div class="form-group  col-md-12">
								<ul class="formItems"
								data-prototype="{% spaceless %}{% filter escape %}{% include 'devis/lignedevis-prototype.html.twig' with { 'form': form.ligneDevis.vars.prototype } %}{% endfilter %}{% endspaceless %}">
								{# iterate over each existing tag and render its only field: name #}
								{% for form in form.ligneDevis %}
								<li class="formItem"><div class="lignedevis_block">
									<div class="form-group row">
										<div class="col-sm-5">
											{{ form_label(form.bijou, "Bijou", {'label_attr': {'class': 'control-label'}}) }}
											<small class="help-block">{{ form_errors(form.bijou) }}</small>
											{{ form_widget(form.bijou, {'attr': {'class': 'form-control'}}) }}

										</div>
										<div class="col">
											{{ form_label(form.prixUnitaire, "Prix", {'label_attr': {'class': 'control-label'}}) }}
											<small class="help-block">{{ form_errors(form.prixUnitaire) }}</small>
											{{ form_widget(form.prixUnitaire, {'attr': {'class': 'form-control prixUnitaire', 'readOnly':'readOnly'}}) }}
										</div>

										<div class="col">
											{{ form_label(form.quantite, "Quantité", {'label_attr': {'class': 'control-label'}}) }}
											<small class="help-block">{{ form_errors(form.quantite) }}</small>
											{{ form_widget(form.quantite, {'attr': {'class': 'form-control quantite'}}) }}
										</div>
									</div>
								</div></li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{ form_end(form) }}
</div>


















