{% extends 'base.html.twig' %}

{% block headtitle %}Devis/Modification{% endblock %}
{% block title %}<div class="col-12 text-center mt-4 mb-4">
	    <div class="grand-titre-tab-de-bord">
		      MODIFIER UN DEVIS
		</div>
	</div>{% endblock %}

{% block body %}
<div class="tab-bord-bijouterie-form">
        <div class="titre-tab-page-interne mb-4">
            Modifier un devis
	    </div>

    {{ include('devis/_form.html.twig', {'button_label': 'Enregistrer'}) }}

{% endblock %}

{% block javascripts %}
<script src="{{ asset('assets/js/barcode-listener-master/jquery-barcodeListener.js') }}"></script>
<script>
$('body').barcodeListener().on('barcode.valid', function(e, code){
    var nbLigneFacture = $( ".lignedevis_block" ).length;
    
    $('#addProductBtn').trigger('click');
    function checkBlockReady(nbLigneFacture) {
        console.log(nbLigneFacture);
        if(nbLigneFacture == $( ".lignedevis_block" ).length) {

           window.setTimeout(checkBlockReady(nbLigneFacture), 100); /* this checks the flag every 100 milliseconds*/
        } else {
            $('.lignedevis_block:last').find('select option:contains("'+code+'")').attr('selected','selected').trigger('change');
        }
    }
    checkBlockReady(nbLigneFacture);
});
</script>
<script>
var $collectionHolder;

// setup an "add a tag" link
var $addTagButton = $('<div id="addProductBtn" class="col-sm-2 float-right text-right"><button type="button" class="btn btn-floating btn-success btn-sm"><i class="icon wb-plus" aria-hidden="true"></i></button></div>'); 
var $newLinkLi = $('<li></li>').append($addTagButton);

jQuery(document).ready(function() {
    // Get the ul that holds the collection of formItems
    $collectionHolder = $('ul.formItems');

    // add the "add a tag" anchor and li to the formItems ul
    $collectionHolder.append($newLinkLi);

    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    $collectionHolder.data('index', $collectionHolder.find(':input').length);

    $addTagButton.on('click', function(e) {
        // add a new tag form (see next code block)
        addTagForm($collectionHolder, $newLinkLi);
    });
});

function addTagForm($collectionHolder, $newLinkLi) {
    // Get the data-prototype explained earlier
    var prototype = $collectionHolder.data('prototype');

    // get the new index
    var index = $collectionHolder.data('index');

    var newForm = prototype;
    // You need this only if you didn't set 'label' => false in your formItems field in TaskType
    // Replace '__name__label__' in the prototype's HTML to
    // instead be a number based on how many items we have
    // newForm = newForm.replace(/__name__label__/g, index);

    // Replace '__name__' in the prototype's HTML to
    // instead be a number based on how many items we have
    newForm = newForm.replace(/__name__/g, index);

    // increase the index with one for the next item
    $collectionHolder.data('index', index + 1);

    // Display the form in the page in an li, before the "Add a tag" link li
    var $newFormLi = $('<li class="formItem"></li>').append(newForm);
    $newLinkLi.before($newFormLi);

    addTagFormDeleteLink($newFormLi);
}
jQuery(document).ready(function() {
    // Get the ul that holds the collection of formItems
    $collectionHolder = $('ul.formItems');

    // add a delete link to all of the existing tag form li elements
    $collectionHolder.find('li.formItem').each(function() {
        addTagFormDeleteLink($(this));
    });

    // ... the rest of the block from above
});

function addTagFormDeleteLink($tagFormLi) {
    var $removeFormButton = $('<div class="col"><label>Actions</label><br><button type="button" class="btn btn-floating btn-orange-2 btn-xs"><i class="icon wb-trash" aria-hidden="true"></i></button></div>');
    $tagFormLi.find('.form-group').append($removeFormButton);

    $removeFormButton.on('click', function(e) {
        montant = $('#devis_montant').val();
        if(montant == "")
            montant = 0;
        $('#devis_montant').val(parseFloat(montant)-parseFloat($(this).closest('.lignedevis_block').find('.prixUnitaire').val())*parseFloat($(this).closest('.lignedevis_block').find('.quantite').val()));
        $('#montant').html($('#devis_montant').val());
        // remove the li for the tag form
        $tagFormLi.remove();
    });
}
$('#examplePanel select').each(function (index, value) {
    $(this).find('option').not(':selected').remove();
});

if($('#devis_montant').val()!= "")
    $('#montant').html($('#devis_montant').val());

$( "body" ).on('change', '#examplePanel select', function() {
    
    $(this).closest('.lignedevis_block').find('.prixUnitaire').val($(this).val());
    $(this).closest('.lignedevis_block').find('.quantite').val(1).select();
    montant = $('#facture_montant').val();
    if(montant == "")
        montant = 0;
    montant = parseFloat(montant);
    $('#facture_montant').val(montant+parseFloat($(this).closest('.lignefacture_block').find('.prixUnitaire').val()));
    $( "#facture_montant" ).trigger( "change" );
    $(this).find('option').not(':selected').remove();
    //$(this).attr('disabled','disabled');
});

$(document).on('keydown', '.quantite', function(event){
    if(event.which == 17) {
        $(this).blur();
    }
});

$(document).on('focusin', '.quantite', function(){
    $(this).data('val', $(this).val());
}).on('change','.quantite', function(){
    var prev = $(this).data('val');
    var current = $(this).val();

    montant = $('#devis_montant').val();
    if(montant == "")
        montant = 0;
    montant = parseFloat(montant);
    console.log(montant);

    quantitePrev = prev;
    if(quantitePrev == "")
        quantitePrev = 0;
    quantitePrev = parseInt(quantitePrev);
    console.log(quantitePrev);

    quantiteCurrent = current;
    if(quantiteCurrent == "")
        quantiteCurrent = 0;
    quantiteCurrent = parseInt(quantiteCurrent);
    console.log(quantiteCurrent);

    prix = $(this).closest('.lignedevis_block').find('.prixUnitaire').val();
    prix = parseFloat(prix);
    console.log(prix);

    $('#devis_montant').val(montant+prix*(quantiteCurrent-quantitePrev));
    $('#montant').html($('#devis_montant').val());
    console.log($('#devis_montant').val());
    $(this).data('val', $(this).val());
});
</script>
{% endblock %}
