{% extends 'base.html.twig' %}

{% block headtitle %}Devis{% endblock %}
{% block title %}<div class="col-12 text-center mt-4 mb-4">
	    <div class="grand-titre-tab-de-bord">
		     DEVIS
		</div>
	</div>{% endblock %}



{% block body %}
<div class="container">
<div class="tab-bord-bijouterie">

<div class="row mb-5">
   <div class="col-12 col-md-6 mb-3">
       <div class="titre-tab-page-interne">
           Liste des devis
	    </div>	   
   </div>
   <div class="col-12 col-md-6 mb-3">
         {% block headerlinks %}
				<a href="{{ path('devis_new') }}">
					<button type="button" class="btn btn-success button-add-update-tab-interne"><i class="icon wb-plus" aria-hidden="true"></i> Ajouter</button>
				</a>
			{% endblock %}
   </div>
</div> 

    <table class="table table-bordered table-dark-interne table-hover table-striped dataTable no-footer" cellspacing="0" id="exampleAddRow">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Montant</th>
                <th>Client</th>
                <th>actions</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Id</th>
                <th class="datesearch">De <input style="width:120px" id="date_debut" data-plugin = "datepicker" class="form-control" value=""  /> à <input style="width:120px" id="date_fin" data-plugin = "datepicker" class="form-control" value="" /></th>
                <th>Montant</th>
                <th>Client</th>
                <th>actions</th>
            </tr>
        </tfoot>
        <tbody>
        {% for devi in devis %}
            <tr>
                <td>{{ devi.id }}</td>
                <td>{{ devi.date ? devi.date|date('d/m/Y') : '' }}</td>
                <td>{{ devi.montant }}</td>
                <td>{{ devi.client }}</td>
                <td class="actions">
                    <a href="{{ path('devis_edit', {'id': devi.id}) }}" class="btn btn-sm btn-icon btn-pure icon-orange"
                      data-toggle="tooltip" data-original-title="Modifier"><i class="icon wb-edit" aria-hidden="true"></i></a>
                    <a href="javascript:;" data-print="{% spaceless %}{% filter escape %}{% include 'devis/print.html.twig' with { 'devis': devi } %}{% endfilter %}{% endspaceless %}" class="btn btn-sm btn-icon btn-pure color2 print icon-orange" data-toggle="tooltip" data-original-title="Imprimer"><i class="icon fa-print" aria-hidden="true"></i></a>
                    <form class="inline-block" method="post" action="{{ path('devis_delete', {'id': devi.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ devi.id) }}">
                    <a onclick="$(this).parent('form').submit()" href="javascript:;" class="btn btn-sm btn-icon btn-pure icon-orange"
                    data-toggle="tooltip" data-original-title="Supprimer"><i class="icon wb-trash" aria-hidden="true"></i></a>
                </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun devis n'est disponible!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$('.print').on('click',function(){
    
    var divToPrint=$(this).attr('data-print');
    console.log(divToPrint);
    newWin= window.open("");
    newWin.document.write(divToPrint);
    newWin.print();
    newWin.close();
});
</script>
{% endblock %}