<div class="lignedevis_block">
	<div class="form-group row">
		<div class="col-sm-5">
			{{ form_label(form.bijou, "Bijou", {'label_attr': {'class': 'control-label'}}) }}
			<small class="help-block">{{ form_errors(form.bijou) }}</small>
			{{ form_widget(form.bijou, {'attr': {'class': 'form-control'}}) }}
			
		</div>
		<div class="col">
			{{ form_label(form.prixUnitaire, "Prix", {'label_attr': {'class': 'control-label'}}) }}
			<small class="help-block">{{ form_errors(form.prixUnitaire) }}</small>
			{{ form_widget(form.prixUnitaire, {'attr': {'class': 'form-control prixUnitaire'}}) }}
		</div>

		<div class="col">
			{{ form_label(form.quantite, "Quantité", {'label_attr': {'class': 'control-label'}}) }}
			<small class="help-block">{{ form_errors(form.quantite) }}</small>
			{{ form_widget(form.quantite, {'attr': {'class': 'form-control quantite'}}) }}
		</div>
	</div>
</div>