{% extends 'base.html.twig' %}

{% block title %}Devis{% endblock %}

{% block body %}
    <h1>Devis</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ devi.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ devi.date ? devi.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Remise</th>
                <td>{{ devi.remise }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ devi.montant }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('devis_index') }}">back to list</a>

    <a href="{{ path('devis_edit', {'id': devi.id}) }}">edit</a>

    {{ include('devis/_delete_form.html.twig') }}
{% endblock %}
