{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    <h1>Produit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ref</th>
                <th>Reference</th>
                <th>PrixAchat</th>
                <th>PrixVente</th>
                <th>RemiseMax</th>
                <th>QteEnStock</th>
                <th>QteEnCoursDeFabrication</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.ref }}</td>
                <td>{{ produit.reference }}</td>
                <td>{{ produit.prixAchat }}</td>
                <td>{{ produit.prixVente }}</td>
                <td>{{ produit.remiseMax }}</td>
                <td>{{ produit.qteEnStock }}</td>
                <td>{{ produit.qteEnCoursDeFabrication }}</td>
                <td>
                    <a href="{{ path('produit_show', {'id': produit.id}) }}">show</a>
                    <a href="{{ path('produit_edit', {'id': produit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('produit_new') }}">Create new</a>
{% endblock %}
