{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
<div class="row" id="contentprint">
<div class="col-12">
<div class="panel">
    <header class="panel-heading">
        <div class="panel-actions"></div>
        <h2 class="panel-title"></h2>
    </header>
    <div class="panel-body">
          <h1>Fiche Bijou</h1>
          <div class="row">
          <div class="col-6">{% if produit.image is not null %} <img src="{{asset('uploads/images/' ~ produit.image.filename )}}" alt="image" width="300" /> {% endif %}</div>
          <div class="col-6">
              <div><strong>Référence:</strong> {{ produit.reference }}</div>
              <div><strong>Désignation:</strong> {{ produit.designation }}</div>
              <div><strong>Quantité en stock:</strong> {{ produit.qteEnStock }}</div>
              <div><strong>Prix de vente:</strong> {{ produit.prixVente }} Dt</div>
              <div><strong>Remise Maximum:</strong> {{ produit.remiseMax }} %</div>
              <div> <strong>Or utilisé</strong>
                <ul>
                {% for gold in produit.golds %}
                    <li>{{ gold.quantite }} g - {{ gold.gold.reference }}</li>
                {% endfor %}
                </ul>
              </div>
              <div> <strong>Pières utilisées</strong>
                <ul>
                {% for pierre in produit.pierres %}
                    <li>{{ pierre.quantite }} - {{ pierre.pierre.reference }} </li>
                {% endfor %}
                </ul>
              </div>
        </div>


    </div>
</div>
</div>
</div>
<div class="col-12">
<div class="panel">
    <header class="panel-heading">
        <div class="panel-actions"></div>
        <h2 class="panel-title"></h2>
    </header>
    <div class="panel-body">
          <h1>Historique des ventes</h1>
          <div class="row" style="border-bottom: 2px solid #890040;margin-bottom: 20px">
            <div class="col"> <strong>Client</strong> </div>
            <div class="col"> <strong>Prix Unitaire</strong> </div>
            <div class="col"> <strong>Quantité</strong> </div>
            <div class="col"> <strong>Total</strong> </div>
            <div class="col"> <strong>Date</strong> </div>
           </div>
          {% for facture in produit.ligneFactures %}       
           <div class="row">
            <div class="col"> {{ facture.facture.client }} </div>
            <div class="col"> {{ facture.prixUnitaire }} Dt</div>
            <div class="col"> {{ facture.quantite }} </div>
            <div class="col"> {{ facture.quantite * facture.prixUnitaire }} Dt</div>
            <div class="col"> {{ facture.facture.date|date('d/m/Y') }} </div>
           </div>
            {% endfor %}
    </div>
</div>
</div>
</div>
<div class="row" style="text-align: center;">
  <div class="col-12"><button id="printPage" class="btn btn-praimary">Imprimer</button></div>
</div>




          </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>
$('#printPage').click(function(){
           window.print();
           return false;
});
</script>
{% endblock %}