.page-login {
  color: #ffffff;
  text-align: center;
}
.page-login {
  position: fixed;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background-image: url("../../images/photo-accueil.png") !important;
  background-position-y: top;
  -webkit-background-size: cover;
          background-size: cover;
  z-index: -1;
}
.page-login:after {
  position: fixed;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(251,202,113, 0.55);
  z-index: -1;
}
.page-login .brand {
  margin-bottom: 28px;
}
.page-login .brand-text {
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
}
.page-login form {
  margin: 30px auto;
  display: block;
}
.page-login form a {
  margin-left: 20px;
  color: rgba(255, 255, 255, 0.5);
}
.page-login .page-copyright {
  color: #ffffff;
}
.page-login .page-copyright .social .icon,
.page-login .page-copyright .social .icon:hover,
.page-login .page-copyright .social .icon:active {
  color: #ffffff;
}
@media (max-width: 480px) {
  .page-login form {
    width: auto;
  }
}




	  

.part-1 {
!background:url("../../images/photo-accueil.png") !important;
background-size: 100% 100%;
background-repeat: no-repeat;
background-position: center center;
text-align: center !important;
padding: 50px 0px 160px 0px !important;
}



::placeholder {
  color: black;
  opacity:100%;
}



.form-connexion input[type=text], .form-connexion  input[type=password] {
    width: 350px;
    padding: 15px 10px;
    display:block;
	margin:0 auto;
    opacity: 0.3;
    background: #fff;
    border: 1px solid #000;
	margin-bottom: 20px;
}



.form-connexion  button {
    background-color: #000 !important;
    color: #f1a515 !important;
    padding: 15px 10px;
    border: 1px solid #000;
    cursor: pointer;
    width: 350px;
	border-radius:0;
	margin-bottom:20px;
}





footer{
background-image:url("../../images/bg-footer.png");
background-repeat: no-repeat;
background-position: center center;
background-size: 100% 100%;
padding: 90px 0px;
margin-top:-140px;
}

.logo-gold{
text-align:center;
}

.logo-gold  img{
width:120px;
}

.logo-victoria img{
width:180px;
}



@media (min-width: 768px) {


.part-1{
!background:url("../../images/photo-accueil.png") !important;
background-size: 100% 100%;
background-repeat: no-repeat;
background-position: center center;
text-align: center !important;
padding:200px 0px !important;
}




}	  
	  

@media (min-width: 992px) {	  
.logo-gold img{
width:150px;
}

footer{
background-image:url("../../images/bg-footer.png");
background-repeat: no-repeat;
background-position: center center;
background-size: 100% 100%;
padding: 120px 0px;
margin-top:-170px;
}


}
	

.site-navbar {
    background-color: #000 !important;
}




	
	  