@charset "UTF-8";

@font-face {
  font-family: RoundedElegance;
  src: url(Rounded_Elegance.ttf);
}

@font-face {
  font-family: shangrela;
  src: url(shangrela.ttf);
}

.RoundedElegance{
  font-family: RoundedElegance
}

.color1{
  color: #7B003B;
}

.color2{
  color: #D7A561;
}

.color3{
  color: #A59891;
}

h1{
  color: #7B003B;
  font-family: RoundedElegance;
  font-weight: bold;
}
h2{
  color: #A59891;
  font-family: RoundedElegance;
  font-weight: bold;
}
h3, h3.panel-title{
  color: #D7A561;
  font-family: RoundedElegance;
  font-weight: bold;
}
a, a .site-menu-title{
  color: #A59891;
}
.site-navbar .navbar-container .navbar-brand-center{
  padding: 5px;
}
ul.formItems, ul.formItems2{padding:0;}
ul.formItems li, ul.formItems2 li{list-style-type: none}
.table thead th, .table tfoot th{
  color: #7B003B;
}






.table{
border:1px solid #e1b35e;
}

.table-dark td, .table-dark th, .table-dark thead th{
border:0;
}

thead th{
padding:80px 0px 0px 0px !important;
color:#d1a962;
font-family:myriad pro;
text-align:center;
}

tbody{
text-align:center;
}



.tab1 h2{
font-size: 17.5px;
color: #d1a962;
position: absolute;
font-family:myriad;
left: 36%;
top: 10%;
}

.tab2 h2{
font-size: 17.5px;
color: #d1a962;
position: absolute;
font-family:myriad;
left: 22%;
top: 10%;
}



.table-dark{
background:#383530;
}



.header-top-bijouterie{
background:#000;
padding:0px 10px;
}

.logo-header-tab-de-bord img{
width:60px;
}

.grand-titre-tab-de-bord{
font-size: 50px;
color: #383530;
}

.connexion{
float:right;
padding-top: 15px;
} 
	  

