{{ form_start(form) }}
<div class ="form-error">
	{{ form_errors(form) }}
</div>

<div class="form-row">
	<div class="form-group col-md-6">
		{{ form_label(form.pierre) }}
		{{ form_widget(form.pierre, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="form-group col-md-3">
		{{ form_label(form.quantite) }}
		{{ form_widget(form.quantite, {'attr': {'class': 'form-control'}}) }}
	</div>

</div>
<div class="form-row">		
	<button class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>
</div>

{{ form_end(form) }}

