{% extends 'base.html.twig' %}

{% block title %}Edit CompositionPierre{% endblock %}

{% block body %}
    <h1>Edit CompositionPierre</h1>

    {{ include('composition_pierre/_form.html.twig', {'button_label': 'Editer'}) }}

    <a href="{{ path('composition_pierre_index') }}">back to list</a>

    {{ include('composition_pierre/_delete_form.html.twig') }}
{% endblock %}
