{% extends 'base.html.twig' %}

{% block title %}CompositionPierre index{% endblock %}

{% block body %}
    <h1>CompositionPierre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for composition_pierre in composition_pierres %}
            <tr>
                <td>{{ composition_pierre.id }}</td>
                <td>
                    <a href="{{ path('composition_pierre_show', {'id': composition_pierre.id}) }}">show</a>
                    <a href="{{ path('composition_pierre_edit', {'id': composition_pierre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('composition_pierre_new') }}">Create new</a>
{% endblock %}
