{% extends 'base.html.twig' %}

{% block title %}New CompositionPierre{% endblock %}

{% block body %}
    <h1>Create new CompositionPierre</h1>

    {{ include('composition_pierre/_form.html.twig') }}

    <a href="{{ path('composition_pierre_index') }}">back to list</a>
{% endblock %}
