{% extends 'base.html.twig' %}

{% block title %}CompositionPierre{% endblock %}

{% block body %}
    <h1>CompositionPierre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ composition_pierre.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('composition_pierre_index') }}">back to list</a>

    <a href="{{ path('composition_pierre_edit', {'id': composition_pierre.id}) }}">edit</a>

    {{ include('composition_pierre/_delete_form.html.twig') }}
{% endblock %}
