{% extends 'base.html.twig' %}

{% block headtitle %}Client{% endblock %}
{% block title %}<div class="col-12 text-center mt-4 mb-4">
	    <div class="grand-titre-tab-de-bord">
		      AJOUTER UN NOUVEAU CLIENT
		</div>
	</div>{% endblock %}

{% block body %}
<div class="tab-bord-bijouterie-form">
        <div class="titre-tab-page-interne mb-4">
           Ajouter un nouveau client
	    </div>

    {{ include('client/_form.html.twig') }}

{% endblock %}
