{% extends 'base.html.twig' %}

{% block headtitle %}Accessoires{% endblock %}
{% block title %}<div class="col-12 text-center mt-4 mb-4">
	    <div class="grand-titre-tab-de-bord">
		     ACCESSOIRES
		</div>
	</div> {% endblock %}



{% block body %}
<div class="container">
<div class="tab-bord-bijouterie">

<div class="row mb-5">
   <div class="col-12 col-md-6 mb-3">
       <div class="titre-tab-page-interne">
           Liste des Accessoires
	    </div>	   
   </div>
   <div class="col-12 col-md-6 mb-3">
         {% block headerlinks %}
			<a href="{{ path('produit_accessoire_new') }}">
				<button type="button" class="btn btn-success button-add-update-tab-interne"><i class="icon wb-plus" aria-hidden="true"></i> Ajouter</button>
			</a>
			{% endblock %}
   </div>
</div> 


<table class="table table-bordered table-dark-interne table-hover table-striped" cellspacing="0" id="exampleAddRow">
    <thead>
        <tr>
            <th>Référence</th>
            <th>Designation</th>
            {% if is_granted('ROLE_ADMIN') %}<th>Prix d'achat</th>{% endif %}
            <th>Prix de vente</th>
            <th>Qté en stock (ct)</th>
            {% if is_granted('ROLE_ADMIN') %}<th>Total</th>{% endif %}
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for accessoire in accessoires %}
        <tr class="gradeA">
            <td>{{ accessoire.reference }}</td>
            <td>{{ accessoire.designation }}</td>
            {% if is_granted('ROLE_ADMIN') %}<td>{{ accessoire.prixAchat|price(0, '.', ' ') }}</td>{% endif %}
            <td>{{ accessoire.prixVente|price(0, '.', ' ') }}</td>
            <td>{{ accessoire.qteEnstock|default('0') }}</td>
			{% if is_granted('ROLE_ADMIN') %}<td>{{ (accessoire.prixAchat*accessoire.qteEnstock)|price(0, '.', ' ') }}</td>{% endif %}
            <td class="actions">
                <a href="{{ path('produit_accessoire_edit', {'id': accessoire.id}) }}" class="btn btn-sm btn-icon btn-pure icon-orange"
                data-toggle="tooltip" data-original-title="Modifier"><i class="icon wb-edit" aria-hidden="true"></i></a>
                <form class="inline-block" method="post" action="{{ path('produit_delete', {'id': accessoire.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ accessoire.id) }}">
                    <a onclick="$(this).parent('form').submit()" href="javascript:;" class="btn btn-sm btn-icon btn-pure icon-orange"
                    data-toggle="tooltip" data-original-title="Supprimer"><i class="icon wb-trash" aria-hidden="true"></i></a>
                </form>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="5">Aucune accessoire n'est disponible!</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}


