{% extends 'base.html.twig' %}

{% block title %}Accessoire{% endblock %}

{% block body %}
    <h1>Accessoire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ accessoire.id }}</td>
            </tr>
            <tr>
                <th>Libele</th>
                <td>{{ accessoire.libele }}</td>
            </tr>
            <tr>
                <th>Carat</th>
                <td>{{ accessoire.carat }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('accessoire_index') }}">back to list</a>

    <a href="{{ path('accessoire_edit', {'id': accessoire.id}) }}">edit</a>

    {{ include('accessoire/_delete_form.html.twig') }}
{% endblock %}
