<form method="post" action="{{ path('composition_or_delete', {'id': composition_or.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ composition_or.id) }}">
    <button class="btn">Delete</button>
</form>
