{% extends 'base.html.twig' %}

{% block title %}Edit CompositionOr{% endblock %}

{% block body %}
    <h1>Edit CompositionOr</h1>

    {{ include('composition_or/_form.html.twig', {'button_label': 'Editer'}) }}

    <a href="{{ path('composition_or_index') }}">back to list</a>

    {{ include('composition_or/_delete_form.html.twig') }}
{% endblock %}
