{% extends 'base.html.twig' %}

{% block title %}CompositionOr index{% endblock %}

{% block body %}
    <h1>CompositionOr index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for composition_or in composition_ors %}
            <tr>
                <td>{{ composition_or.id }}</td>
                <td>{{ composition_or.quantite }}</td>
                <td>
                    <a href="{{ path('composition_or_show', {'id': composition_or.id}) }}">show</a>
                    <a href="{{ path('composition_or_edit', {'id': composition_or.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('composition_or_new') }}">Create new</a>
{% endblock %}
