{% extends 'base.html.twig' %}

{% block title %}New CompositionOr{% endblock %}

{% block body %}
    <h1>Create new CompositionOr</h1>

    {{ include('composition_or/_form.html.twig') }}

    <a href="{{ path('composition_or_index') }}">back to list</a>
{% endblock %}
