{% extends 'base.html.twig' %}

{% block title %}CompositionOr{% endblock %}

{% block body %}
    <h1>CompositionOr</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ composition_or.id }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ composition_or.quantite }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('composition_or_index') }}">back to list</a>

    <a href="{{ path('composition_or_edit', {'id': composition_or.id}) }}">edit</a>

    {{ include('composition_or/_delete_form.html.twig') }}
{% endblock %}
