{{ form_start(form) }}
<div class ="form-error">
	{{ form_errors(form) }}
</div>

<div class="tab-bord-bijouterie-form">
<div class="form-row">

	<div class="form-group  col-md-4">
		{{ form_label(form.entreprise) }}
		{{ form_widget(form.entreprise, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="form-group  col-md-4">
		{{ form_label(form.telephone) }}
		{{ form_widget(form.telephone, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="form-group  col-md-4">
		{{ form_label(form.telephone2) }}
		{{ form_widget(form.telephone2, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="form-group  col-md-2">
		{{ form_label(form.civilite) }}
		{{ form_widget(form.civilite, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="form-group col-md-5">
		{{ form_label(form.nom) }}
		{{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="form-group col-md-5">
		{{ form_label(form.prenom) }}
		{{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="form-group  col-md-6">
		{{ form_label(form.fax) }}
		{{ form_widget(form.fax, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="form-group  col-md-6">
		{{ form_label(form.email) }}
		{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
	</div>

</div>
<div class="form-row">	
	<button class="btn btn-orange">{{ button_label|default('Ajouter') }}</button>
	<a href="{{ path('client_index') }}" class="retour-liste ml-20">Retour à la liste</a>
</div>

{{ form_end(form) }}

