<form method="post" action="{{ path('ligne_facture_delete', {'id': ligne_facture.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ligne_facture.id) }}">
    <button class="btn">Delete</button>
</form>
