{% extends 'base.html.twig' %}

{% block title %}LigneFacture{% endblock %}

{% block body %}
    <h1>LigneFacture</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ligne_facture.id }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ ligne_facture.quantite }}</td>
            </tr>
            <tr>
                <th>PrixUnitaire</th>
                <td>{{ ligne_facture.prixUnitaire }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ligne_facture_index') }}">back to list</a>

    <a href="{{ path('ligne_facture_edit', {'id': ligne_facture.id}) }}">edit</a>

    {{ include('ligne_facture/_delete_form.html.twig') }}
{% endblock %}
