<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block headtitle %}{% endblock %}</title>
    


    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ asset('assets/global/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/global/css/bootstrap-extend.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/site.min.css') }}">
    
    <!-- Plugins -->
    <link rel="stylesheet" href="{{ asset('assets/global/vendor/animsition/animsition.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/global/vendor/asscrollable/asScrollable.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/global/vendor/switchery/switchery.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/global/vendor/intro-js/introjs.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/global/vendor/slidepanel/slidePanel.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/global/vendor/flag-icon-css/flag-icon.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/global/vendor/datatables.net-bs4/dataTables.bootstrap4.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/global/vendor/datatables.net-fixedheader-bs4/dataTables.fixedheader.bootstrap4.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/global/vendor/datatables.net-fixedcolumns-bs4/dataTables.fixedcolumns.bootstrap4.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/global/vendor/datatables.net-rowgroup-bs4/dataTables.rowgroup.bootstrap4.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/global/vendor/datatables.net-scroller-bs4/dataTables.scroller.bootstrap4.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/global/vendor/datatables.net-select-bs4/dataTables.select.bootstrap4.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/global/vendor/datatables.net-responsive-bs4/dataTables.responsive.bootstrap4.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/global/vendor/datatables.net-buttons-bs4/dataTables.buttons.bootstrap4.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/examples/css/tables/datatable.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/global/vendor/bootstrap-datepicker/bootstrap-datepicker.css') }}">
    
    
    <!-- Fonts -->
    <link rel="stylesheet" href="{{ asset('assets/global/fonts/font-awesome/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/global/fonts/web-icons/web-icons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/global/fonts/brand-icons/brand-icons.min.css') }}">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>

    
    <!--[if lt IE 9]>
    <script src="{{ asset('assets/global/vendor/html5shiv/html5shiv.min.js') }}"></script>
    <![endif]-->
    
    <!--[if lt IE 10]>
    <script src="{{ asset('assets/global/vendor/media-match/media.match.min.js') }}"></script>
    <script src="{{ asset('assets/global/vendor/respond/respond.min.js') }}"></script>
    <![endif]-->
    
    <!-- Scripts -->
    <script src="{{ asset('assets/global/vendor/breakpoints/breakpoints.js') }}"></script>
    <script>
      Breakpoints();
    </script>
    <link id="skinStyle" rel="stylesheet" type="text/css" href="{{ asset('assets/skins/wasj.css' ) }}">
    <link id="skinStyle" rel="stylesheet" type="text/css" href="{{ asset('assets/css/custom.css' ) }}">
 
  </head>
  <body class="animsition">
  	<!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {{ include("navbar.html.twig") }}

    <!-- Page -->
    <div class="page">
      <div class="page-header">
        <h1 class="page-title">{% block title %}{% endblock %}</h1>
        <!--<ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
          <li class="breadcrumb-item"><a href="javascript:void(0)">Tables</a></li>
          <li class="breadcrumb-item active">DataTables</li>
        </ol>-->
        <div class="page-header-actions">
            
        </div>
      </div>

      <div class="page-content">
        <!-- Panel Basic -->
        <div class="panel">
          <header class="panel-heading">
            <div class="panel-actions"> <!--{% block headerlinks %}{% endblock %} --> </div>
            <h2 class="panel-title"></h3>
          </header>
		  <div class="container">
		     <div class="tab-bord-bijouterie">
			  <div class="panel-body">
				  {% block body %}{% endblock %}
			  </div>
			 </div> 
		  </div>	  
    </div>
    <!-- End Page -->
</div>

    <!-- Footer 
    <footer class="site-footer">
      <div class="site-footer-legal">© 2019 <a href="">Joaillerie Wassila Ben Youssef</a></div>
      <div class="site-footer-right">
        designed by <i class="red-600 wb wb-heart"></i> <a href="">Createch</a>
      </div>
    </footer>  -->
	
	 <footer>
	  <div class="logo-gold pt-5 text-center">
		   <img src="/bijouterieApp/public/assets/images/victoria.png">
		     <div class="sous-titre-logo-gold">
			    APPLICATION DE GESTION JOAILLERIE
			 </div>	
			 <div class="tab-de-bord-copyright">
			     @2020. TOUS DROITS RÉSERVÉS
			 </div>	
	  </div>
    </footer>




    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <!-- Core  -->
    <script src="{{ asset('assets/global/vendor/babel-external-helpers/babel-external-helpers.js') }}"></script>
    <script src="{{ asset('assets/global/vendor/jquery/jquery.js') }}"></script>
    <script src="{{ asset('assets/global/vendor/popper-js/umd/popper.min.js') }}"></script>
    <script src="{{ asset('assets/global/vendor/bootstrap/bootstrap.js') }}"></script>
    <script src="{{ asset('assets/global/vendor/animsition/animsition.js') }}"></script>
    <script src="{{ asset('assets/global/vendor/mousewheel/jquery.mousewheel.js') }}"></script>
    <script src="{{ asset('assets/global/vendor/asscrollbar/jquery-asScrollbar.js') }}"></script>
    <script src="{{ asset('assets/global/vendor/asscrollable/jquery-asScrollable.js') }}"></script>
    
    <!-- Plugins -->
    <script src="{{ asset('assets/global/vendor/switchery/switchery.js') }}"></script>
    <script src="{{ asset('assets/global/vendor/intro-js/intro.js') }}"></script>
    <script src="{{ asset('assets/global/vendor/screenfull/screenfull.js') }}"></script>
    <script src="{{ asset('assets/global/vendor/slidepanel/jquery-slidePanel.js') }}"></script>
    <script src="{{ asset('assets/global/vendor/datatables.net/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('assets/global/vendor/datatables.net-bs4/dataTables.bootstrap4.js') }}"></script>
    <script src="{{ asset('assets/global/vendor/datatables.net-fixedheader/dataTables.fixedHeader.js') }}"></script>
    <script src="{{ asset('assets/global/vendor/datatables.net-fixedcolumns/dataTables.fixedColumns.js') }}"></script>
    <script src="{{ asset('assets/global/vendor/datatables.net-rowgroup/dataTables.rowGroup.js') }}"></script>
    <script src="{{ asset('assets/global/vendor/datatables.net-scroller/dataTables.scroller.js') }}"></script>
    <script src="{{ asset('assets/global/vendor/datatables.net-responsive/dataTables.responsive.js') }}"></script>
    <script src="{{ asset('assets/global/vendor/datatables.net-responsive-bs4/responsive.bootstrap4.js') }}"></script>
    <script src="{{ asset('assets/global/vendor/datatables.net-buttons/dataTables.buttons.js') }}"></script>
    <script src="{{ asset('assets/global/vendor/datatables.net-buttons/buttons.html5.js') }}"></script>
    <script src="{{ asset('assets/global/vendor/datatables.net-buttons/buttons.flash.js') }}"></script>
    <script src="{{ asset('assets/global/vendor/datatables.net-buttons/buttons.print.js') }}"></script>
    <script src="{{ asset('assets/global/vendor/datatables.net-buttons/buttons.colVis.js') }}"></script>
    <script src="{{ asset('assets/global/vendor/datatables.net-buttons-bs4/buttons.bootstrap4.js') }}"></script>
    <script src="{{ asset('assets/global/vendor/asrange/jquery-asRange.min.js') }}"></script>
    <script src="{{ asset('assets/global/vendor/bootbox/bootbox.js') }}"></script>
    <script src="{{ asset('assets/global/vendor/bootstrap-datepicker/bootstrap-datepicker.js') }}"></script>

    
    <!-- Scripts -->
    <script src="{{ asset('assets/global/js/Component.js') }}"></script>
    <script src="{{ asset('assets/global/js/Plugin.js') }}"></script>
    <script src="{{ asset('assets/global/js/Base.js') }}"></script>
    <script src="{{ asset('assets/global/js/Config.js') }}"></script>
    
    <script src="{{ asset('assets/js/Section/Menubar.js') }}"></script>
    <script src="{{ asset('assets/js/Section/Sidebar.js') }}"></script>
    <script src="{{ asset('assets/js/Section/PageAside.js') }}"></script>
    <script src="{{ asset('assets/js/Plugin/menu.js') }}"></script>
    
    <!-- Config -->
    <script src="{{ asset('assets/global/js/config/colors.js') }}"></script>
    <script src="{{ asset('assets/js/config/tour.js') }}"></script>
    <script>Config.set('assets', '{{ asset("assets")}}');</script>
    
    <!-- Page -->
    <script src="{{ asset('assets/js/Site.js') }}"></script>
    <script src="{{ asset('assets/global/js/Plugin/asscrollable.js') }}"></script>
    <script src="{{ asset('assets/global/js/Plugin/slidepanel.js') }}"></script>
    <script src="{{ asset('assets/global/js/Plugin/switchery.js') }}"></script>
    <script src="{{ asset('assets/global/js/Plugin/datatables.js') }}"></script>
    <script src="{{ asset('assets/global/js/Plugin/panel.js') }}"></script>
    <script src="{{ asset('assets/global/js/Plugin/bootstrap-datepicker.js') }}"></script>

    <script src="{{ asset('assets/examples/js/tables/datatable.js') }}"></script>
    <script>
        ;(function($){
        $.fn.datepicker.dates['fr'] = {
        days: ["dimanche", "lundi", "mardi", "mercredi", "jeudi", "vendredi", "samedi"],
        daysShort: ["dim.", "lun.", "mar.", "mer.", "jeu.", "ven.", "sam."],
        daysMin: ["d", "l", "ma", "me", "j", "v", "s"],
        months: ["janvier", "février", "mars", "avril", "mai", "juin", "juillet", "août", "septembre", "octobre", "novembre", "décembre"],
        monthsShort: ["janv.", "févr.", "mars", "avril", "mai", "juin", "juil.", "août", "sept.", "oct.", "nov.", "déc."],
        today: "Aujourd'hui",
        monthsTitle: "Mois",
        clear: "Effacer",
        weekStart: 1,
        format: "dd/mm/yyyy"
        };
        }(jQuery));
    </script>
    {% block javascripts %}{% endblock %}
    </body>
</html>
