{% extends 'base.html.twig' %}

{% block headtitle %}Client/Modification{% endblock %}
{% block title %}Client/Modification{% endblock %}

{% block body %}
    <h1>Modifier un Client</h1>

    {{ include('client/_form.html.twig', {'button_label': 'Editer'}) }}

{% endblock %}
