{% extends 'base.html.twig' %}

{% block headtitle %}Clients{% endblock %}
{% block title %}Clients {% endblock %}

{% block headerlinks %}
    <a href="{{ path('client_new') }}">
        <button type="button" class="btn btn-success mt-60"><i class="icon wb-plus" aria-hidden="true"></i> Ajouter</button>
    </a>
{% endblock %}

{% block body %}
    <h2>Liste des clients</h2>
    <table class="table table-bordered table-hover table-striped" cellspacing="0" id="exampleAddRow">
        <thead>
        <tr>
            <th>Nom, Prenom</th>
            <th>Entreprise</th>
            <th>DateNaissance</th>
            <th>Cin</th>
            <th>Telephone</th>
            <th>Fax</th>
            <th>Email</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr class="gradeA">
                <td>{{ client.civilite }} {{ client.nom }} {{ client.prenom }}</td>
                <td>{{ client.entreprise }}</td>
                <td>{{ client.dateNaissance ? client.dateNaissance|date('Y-m-d') : '' }}</td>
                <td>{{ client.cin }}</td>
                <td>{{ client.telephone }}</td>
                <td>{{ client.fax }}</td>
                <td>{{ client.email }}</td>
                <td class="actions">
                    <a href="{{ path('client_edit', {'id': client.id}) }}" class="btn btn-sm btn-icon btn-pure btn-primary"
                      data-toggle="tooltip" data-original-title="Modifier"><i class="icon wb-edit" aria-hidden="true"></i></a>
                    <form class="inline-block" method="post" action="{{ path('client_delete', {'id': client.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ client.id) }}">
                    <a onclick="$(this).parent('form').submit()" href="javascript:;" class="btn btn-sm btn-icon btn-pure btn-danger"
                    data-toggle="tooltip" data-original-title="Supprimer"><i class="icon wb-trash" aria-hidden="true"></i></a>
                </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun client n'est disponible!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}


