<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block headtitle %}{% endblock %}</title>
    


    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ asset('assets/global/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/global/css/bootstrap-extend.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/site.min.css') }}">

    
    <!--[if lt IE 9]>
    <script src="{{ asset('assets/global/vendor/html5shiv/html5shiv.min.js') }}"></script>
    <![endif]-->
    
    <!--[if lt IE 10]>
    <script src="{{ asset('assets/global/vendor/media-match/media.match.min.js') }}"></script>
    <script src="{{ asset('assets/global/vendor/respond/respond.min.js') }}"></script>
    <![endif]-->
    
    <!-- Scripts -->
    <script src="{{ asset('assets/global/vendor/breakpoints/breakpoints.js') }}"></script>
    <script>
      Breakpoints();
    </script>
    <link id="skinStyle" rel="stylesheet" type="text/css" href="{{ asset('assets/skins/wasj.css' ) }}">
    <link id="skinStyle" rel="stylesheet" type="text/css" href="{{ asset('assets/css/custom.css' ) }}">
    <link rel="stylesheet" href="{{ asset('assets/css/pages/login.css') }}">
 
  </head>
  <body class="page-login layout-full RoundedElegance">
  	<!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Page -->
    
		      {% block fos_user_content %}{% endblock %}
    <!-- End Page -->
</div>
    <!-- Footer 
    <footer class="site-footer">
      <div class="site-footer-legal font-weight-600">© 2019 <a href="">Joaillerie Wassila Ben Youssef</a></div>
      <div class="site-footer-right font-weight-600">
        designed by <i class="red-600 wb wb-heart"></i> <a href="">Createch</a>
      </div>
    </footer>  -->
	
	




    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    
    {% block javascripts %}{% endblock %}
    </body>
</html>
