
<nav class="site-navbar navbar navbar-default navbar-inverse navbar-fixed-top navbar-mega "
	 role="navigation">

  <div class="navbar-header">
	<button type="button" class="navbar-toggler hamburger hamburger-close navbar-toggler-left hided"
			data-toggle="menubar">
	  <span class="sr-only">Toggle navigation</span>
	  <span class="hamburger-bar"></span>
	</button>
	<button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-collapse"
			data-toggle="collapse">
	  <i class="icon wb-more-horizontal" aria-hidden="true"></i>
	</button>
	<div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
	  <img class="navbar-brand-logo" src="{{ asset('assets/images/petit-logo-victoria.png') }}" title="Remark">
	</div>
	<button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-search"
			data-toggle="collapse">
	  <span class="sr-only">Toggle Search</span>
	  <i class="icon wb-search" aria-hidden="true"></i>
	</button>
  </div>

  <div class="navbar-container container-fluid">
	<!-- Navbar Collapse -->
	<div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
	  <!-- Navbar Toolbar -->
	  <ul class="nav navbar-toolbar">
		<li class="nav-item hidden-float" id="toggleMenubar">
		  <a class="nav-link" data-toggle="menubar" href="#" role="button">
			<i class="icon hamburger hamburger-arrow-left">
			  <span class="sr-only">Toggle menubar</span>
			  <span class="hamburger-bar"></span>
			</i>
		  </a>
		</li>
		<li class="nav-item hidden-sm-down" id="toggleFullscreen">
		  <a class="nav-link icon icon-fullscreen" data-toggle="fullscreen" href="#" role="button">
			<span class="sr-only">Toggle fullscreen</span>
		  </a>
		</li>
	  </ul>
	  <!-- End Navbar Toolbar -->

	  <!-- Navbar Toolbar Right -->
	  <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
		<li class="nav-item">
		  <a class="nav-link" href="{{ path('fos_user_security_logout') }}"
			 data-animation="scale-up" role="button">
			<i class="icon hicon wb-power"> </i>
		  </a>
		</li>
	  </ul>
	  <!-- End Navbar Toolbar Right -->

	  <div class="navbar-brand navbar-brand-center">
	  	<img src="{{ asset('assets/images/petit-logo-victoria.png') }}" width="56px" />
		
	  </div>
	</div>
	<!-- End Navbar Collapse -->

	<!-- Site Navbar Seach -->
	<div class="collapse navbar-search-overlap" id="site-navbar-search">
	  <form role="search">
		<div class="form-group">
		  <div class="input-search">
			<i class="input-search-icon wb-search" aria-hidden="true"></i>
			<input type="text" class="form-control" name="site-search" placeholder="Search...">
			<button type="button" class="input-search-close icon wb-close" data-target="#site-navbar-search"
					data-toggle="collapse" aria-label="Close"></button>
		  </div>
		</div>
	  </form>
	</div>
	<!-- End Site Navbar Seach -->
  </div>
</nav>    
<div class="site-menubar">
  <div class="site-menubar-header">
	<div class="cover overlay">
	  <img class="cover-image" src="{{ asset('assets/examples/images/dashboard-header.jpg') }}"
		   alt="...">
	  <div class="overlay-panel vertical-align overlay-background">
		<div class="vertical-align-middle">
		  
		  <div class="site-menubar-info">
                <h5 class="site-menubar-user">{{ app.user.username }}</h5>
                <p class="site-menubar-email">Joaillerie Wassila Ben Youssef</p>
              </div>
		</div>
	  </div>
	</div>
  </div>  
  <div class="site-menubar-body">
	<div>
	  <div>
		<ul class="site-menu" data-plugin="menu">
		  <li class="site-menu-item">
			<a href="{{ path('dashboard') }}">
			  <i class="site-menu-icon fa-dashboard" aria-hidden="true"></i>
			  <span class="site-menu-title">Tableau---- de board</span>
			</a>
		  </li>
		  {% if is_granted('ROLE_ADMIN') %}
		  <li class="site-menu-item has-sub">
			<a href="javascript:void(0)">
			  <i class="site-menu-icon wb-grid-4" aria-hidden="true"></i>
			  <span class="site-menu-title">Configuration</span>
			</a>
			<ul class="site-menu-sub">
			  <li class="site-menu-item">
				<a class="animsition-link" href="{{ path('type_pierre_index') }}">
				  <span class="site-menu-title">Type des pierres</span>
				</a>
			  </li>
			  <li class="site-menu-item">
				<a class="animsition-link" href="{{ path('carat_index') }}">
				  <span class="site-menu-title">Carat/Gramme</span>
				</a>
			  </li>
			</ul>
		  </li>
		  {% endif %}
		  <li class="site-menu-item has-sub">
			<a href="javascript:void(0)">
			  <i class="site-menu-icon wb-grid-4" aria-hidden="true"></i>
			  <span class="site-menu-title">Stock</span>
			</a>
			<ul class="site-menu-sub">
			  <li class="site-menu-item">
				<a class="animsition-link" href="{{ path('produit_gold_index') }}">
				  <span class="site-menu-title">Or</span>
				</a>
			  </li>
			  <li class="site-menu-item">
				<a class="animsition-link" href="{{ path('produit_pierre_index') }}">
				  <span class="site-menu-title">Pierres</span>
				</a>
			  </li>
			  <li class="site-menu-item">
				<a class="animsition-link" href="{{ path('produit_bijou_index') }}">
				  <span class="site-menu-title">Bijoux</span>
				</a>
			  </li>
			  <li class="site-menu-item">
				<a class="animsition-link" href="{{ path('produit_accessoire_index') }}">
				  <span class="site-menu-title">Accessoires</span>
				</a>
			  </li>
			</ul>
		  </li>
		
		  <li class="site-menu-item has-sub">
			<a href="javascript:void(0)">
			  <i class="site-menu-icon wb-shopping-cart" aria-hidden="true"></i>
			  <span class="site-menu-title">Achats</span>
			</a>
				<ul class="site-menu-sub">
				{% if is_granted('ROLE_ADMIN') %}
				  <li class="site-menu-item">
					<a class="animsition-link" href="{{ path('achat_index') }}">
					  <span class="site-menu-title">Achats</span>
					</a>
				  </li>
				{% endif %}
				  <li class="site-menu-item">
					<a class="animsition-link" href="{{ path('ordre_fabrication_index') }}">
					  <span class="site-menu-title">Ordres de fabrication</span>
					</a>
				  </li>
				</ul>
			  </li>
		  
		  
			
			<li class="site-menu-item has-sub">
			<a href="javascript:void(0)">
			  <i class="site-menu-icon wb-shopping-cart" aria-hidden="true"></i>
			  <span class="site-menu-title">Ventes</span>
			</a>
				<ul class="site-menu-sub">
					<li class="site-menu-item">
				<a href="{{ path('devis_index') }}">
				  <i class="site-menu-icon wb-file" aria-hidden="true"></i>
				  <span class="site-menu-title">Devis</span>
				</a>
			</li>
			<li class="site-menu-item">
				<a href="{{ path('facture_index') }}">
				  <i class="site-menu-icon wb-payment" aria-hidden="true"></i>
				  <span class="site-menu-title">Factures</span>
				</a>
			</li>
				</ul>
			  </li>
			
			<li class="site-menu-item has-sub">
			<a href="javascript:void(0)">
			   <i class="site-menu-icon wb-users" aria-hidden="true"></i>
			   <span class="site-menu-title">Contacts</span>
			</a>
				<ul class="site-menu-sub">
				    {% if is_granted('ROLE_ADMIN') %}
					<li class="site-menu-item">
						<a href="{{ path('fournisseur_index') }}">
						    <span class="site-menu-title">Fournisseurs</span>
						</a>
					</li>
					{% endif %}
					<li class="site-menu-item">
						<a href="{{ path('fabriquant_index') }}">
						    <span class="site-menu-title">Fabriquants</span>
						</a>
					</li>
					
					<li class="site-menu-item">
						<a href="{{ path('client_index') }}">
						    <span class="site-menu-title">Clients</span>
						</a>
					</li>
				  
				</ul>
			  </li>
		</ul>
	  </div>
	</div>
  </div>
</div>