{% extends 'base.html.twig' %}

{% block headtitle %}Client{% endblock %}
{% block title %}Client{% endblock %}

{% block body %}
    <h1>Ajouter un client</h1>

    {{ include('client/_form.html.twig') }}

{% endblock %}
