{% extends 'base.html.twig' %}

{% block headtitle %}Type de Pierre/Modification{% endblock %}
{% block title %}<div class="col-12 text-center mt-4 mb-4">
	    <div class="grand-titre-tab-de-bord">
		      MODIFIER UN TYPE DE PEIRRE
		</div>
	</div>{% endblock %}
{% block body %}
<div class="tab-bord-bijouterie-form">
        <div class="titre-tab-page-interne mb-4">
            Modifier un type de Pierre
	    </div>

    {{ include('type_pierre/_form.html.twig', {'button_label': 'Modifier'}) }}

{% endblock %}
