{% extends 'base.html.twig' %}

{% block title %}<div class="col-12 text-center mt-4 mb-4">
	    <div class="grand-titre-tab-de-bord">
		     TYPE DE PEIRRES
		</div>
	</div>{% endblock %}
{% block headtitle %}Types des pierres{% endblock %}




{% block body %}
<div class="container">
<div class="tab-bord-bijouterie">

<div class="row mb-5">
   <div class="col-12 col-md-6 mb-3">
       <div class="titre-tab-page-interne">
           Liste des types de Pierre
	    </div>	   
   </div>
   <div class="col-12 col-md-6 mb-3">
         {% block headerlinks %}
			<a href="{{ path('type_pierre_new') }}">
				<button type="button" class="btn btn-success button-add-update-tab-interne"><i class="icon wb-plus" aria-hidden="true"></i> Ajouter</button>
			</a>
         {% endblock %}
   </div>
</div>   

<table class="table table-bordered table-dark-interne table-hover table-striped" cellspacing="0" id="exampleAddRow">
    <thead>
        <tr>
            <th>Libele</th>
            <th>Unité de mesure</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% for type_pierre in type_pierres %}
        <tr class="gradeA">
            <td>{{ type_pierre.libele }}</td>
            <td>{{ type_pierre.unite }}</td>
            <td class="actions">
                <a href="{{ path('type_pierre_edit', {'id': type_pierre.id}) }}" class="btn btn-sm btn-icon btn-pure icon-orange"
                data-toggle="tooltip" data-original-title="Modifier"><i class="icon wb-edit" aria-hidden="true"></i></a>
                <form class="inline-block" method="post" action="{{ path('type_pierre_delete', {'id': type_pierre.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_pierre.id) }}">
                    <a onclick="$(this).parent('form').submit()" href="javascript:;" class="btn btn-sm btn-icon btn-pure icon-orange"
                    data-toggle="tooltip" data-original-title="Supprimer"><i class="icon wb-trash" aria-hidden="true"></i></a>
                </form>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="5">Aucun type de pierre n'est disponible!</td>
        </tr>
        {% endfor %}
    </tbody>
</table>



			
		
			
{% endblock %}


