{% extends 'base.html.twig' %}

{% block title %}TypePierre{% endblock %}

{% block body %}
    <h1>TypePierre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_pierre.id }}</td>
            </tr>
            <tr>
                <th>Libele</th>
                <td>{{ type_pierre.libele }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('type_pierre_index') }}">back to list</a>

    <a href="{{ path('type_pierre_edit', {'id': type_pierre.id}) }}">edit</a>

    {{ include('type_pierre/_delete_form.html.twig') }}
{% endblock %}
