{% extends 'base.html.twig' %}

{% block headtitle %}Fournisseurs{% endblock %}
{% block title %}<div class="col-12 text-center mt-4 mb-4">
	    <div class="grand-titre-tab-de-bord">
		     FOURNISSEURS
		</div>
	</div> {% endblock %}



{% block body %}
<div class="container">
<div class="tab-bord-bijouterie">

<div class="row mb-5">
   <div class="col-12 col-md-6 mb-3">
       <div class="titre-tab-page-interne">
           Liste des fournisseurs
	    </div>	   
   </div>
   <div class="col-12 col-md-6 mb-3">
         {% block headerlinks %}
			<a href="{{ path('fournisseur_new') }}">
				<button type="button" class="btn btn-success button-add-update-tab-interne"><i class="icon wb-plus" aria-hidden="true"></i> Ajouter</button>
			</a>
		{% endblock %}
   </div>
</div>
    <table class="table table-bordered table-dark-interne table-hover table-striped dataTable no-footer" cellspacing="0" id="exampleAddRow">
        <thead>
        <tr>
            <th>Entreprise</th>
            <th>Telephone</th>
            <th>Email</th>
            <th>Fax</th>
            <th>Responsable</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for fournisseur in fournisseurs %}
            <tr class="gradeA">
                <td>{{ fournisseur.entreprise }}</td>
                <td>{{ fournisseur.telephone }}</td>
                <td>{{ fournisseur.email }}</td>
                <td>{{ fournisseur.fax }}</td>
                <td>{{ fournisseur.civilite }} {{ fournisseur.nom }} {{ fournisseur.prenom }}</td>
                <td class="actions">
                    <a href="{{ path('fournisseur_edit', {'id': fournisseur.id}) }}" class="btn btn-sm btn-icon btn-pure icon-orange"
                      data-toggle="tooltip" data-original-title="Modifier"><i class="icon wb-edit" aria-hidden="true"></i></a>
                    <form class="inline-block" method="post" action="{{ path('fournisseur_delete', {'id': fournisseur.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fournisseur.id) }}">
                    <a onclick="$(this).parent('form').submit()" href="javascript:;" class="btn btn-sm btn-icon btn-pure icon-orange"
                    data-toggle="tooltip" data-original-title="Supprimer"><i class="icon wb-trash" aria-hidden="true"></i></a>
                </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun fournisseur n'est disponible!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}


