{{ form_start(form) }}
<div class ="form-error">
	{{ form_errors(form) }}
</div>
<div class="tab-bord-bijouterie-form">
<div class="form-row">
	<div class="form-group col-md-6">
		{{ form_label(form.produit, "Produit") }}
		{{ form_widget(form.produit, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="form-group col-md-6">
		{{ form_label(form.fournisseur, "Fournisseur") }}
		{{ form_widget(form.fournisseur, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="form-group col-md-4">
		{{ form_label(form.prix, "Prix Unitaire d'achat") }}
		{{ form_widget(form.prix, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="form-group  col-md-4">
		{{ form_label(form.quantite, "Quantité (g / nb de pièces)") }}
		{{ form_widget(form.quantite, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="form-group  col-md-4">
		{{ form_label(form.date, "Date d'achat") }}
		{{ form_widget(form.date, {'attr': {'class': 'form-control', 'data-plugin': 'datepicker'}}) }}
	</div>
</div>
<div class="form-row">	
	<button class="btn btn-orange">{{ button_label|default('Ajouter') }}</button>
	<a href="{{ path('achat_index') }}" class="retour-liste ml-20">Retour à la liste</a>
</div>

{{ form_end(form) }}
