{% extends 'base.html.twig' %}

{% block headtitle %}Achats{% endblock %}
{% block title %}<div class="col-12 text-center mt-4 mb-4">
	    <div class="grand-titre-tab-de-bord">
		     ACHATS
		</div>
	</div> {% endblock %}




{% block body %}
<div class="container">
<div class="tab-bord-bijouterie">

<div class="row mb-5">
   <div class="col-12 col-md-6 mb-3">
       <div class="titre-tab-page-interne">
           Liste des achats
	    </div>	   
   </div>
   <div class="col-12 col-md-6 mb-3">
         {% block headerlinks %}
			<a href="{{ path('achat_new') }}">
				<button type="button" class="btn btn-success button-add-update-tab-interne"><i class="icon wb-plus" aria-hidden="true"></i> Ajouter</button>
			</a>
		{% endblock %}
   </div>
</div> 



    <table class="table table-bordered table-dark-interne table-hover table-striped dataTable no-footer" cellspacing="0" id="exampleAddRow">
        <thead>
            <tr>
              <th>Produit</th>
              <th>Fournisseur</th>
              <th>Prix Unitaire</th>
              <th>Quantité (g / nb de pièces)</th>
              <th>Total</th>
              <th>Date</th>
              <th>Actions</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
              <th>Produit</th>
              <th>Fournisseur</th>
              <th>Prix Unitaire</th>
              <th>Quantité (g / nb de pièces)</th>
              <th>Total</th>
              <th class="datesearch">De <input style="width:120px" id="date_debut" data-plugin = "datepicker" class="form-control" value=""  /> à <input style="width:120px" id="date_fin" data-plugin = "datepicker" class="form-control" value="" /></th>
              <th>Actions</th>
            </tr>
            <tr style="border:none">
                <th colspan="4" style="border:none"></th>
                <th colspan="3" style="margin-top:15px;font-wight:bold;font-size:20px;margin-right:100px;border:none"><span id='total'></span></th>
            </tr>
        </tfoot>
        <tbody>
        {% for achat in achats %}
            <tr class="gradeA">
                <td>{{ achat.produit }}</td>
                <td>{{ achat.fournisseur }}</td>
                <td>{{ achat.prix|price(0, ',', ' ') }}</td>
                <td>{{ achat.quantite }}</td>
                <td>{{ achat.prix*achat.quantite }}</td>
                <td>{{ achat.date ? achat.date|date('d/m/Y') : '' }}</td>
                <td class="actions">
                    <a href="{{ path('achat_edit', {'id': achat.id}) }}" class="btn btn-sm btn-icon btn-pure icon-orange"
                      data-toggle="tooltip" data-original-title="Modifier"><i class="icon wb-edit" aria-hidden="true"></i></a>
                    <form class="inline-block" method="post" action="{{ path('achat_delete', {'id': achat.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ achat.id) }}">
                    <a onclick="$(this).parent('form').submit()" href="javascript:;" class="btn btn-sm btn-icon btn-pure icon-orange"
                    data-toggle="tooltip" data-original-title="Supprimer"><i class="icon wb-trash icon-orange" aria-hidden="true"></i></a>
                </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun achat n'est disponible!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
