{% extends 'base.html.twig' %}

{% block headtitle %}Achat d'Or/Ajout{% endblock %}
{% block title %}<div class="col-12 text-center mt-4 mb-4">
	    <div class="grand-titre-tab-de-bord">
		      ACHAT D'OR
		</div>
	</div>{% endblock %}

{% block body %}
<div class="tab-bord-bijouterie-form">
        <div class="titre-tab-page-interne mb-4">
           Ajouter un achat
	    </div>

    {{ include('achat/_form.html.twig') }}

{% endblock %}
