{% extends 'dashboard-base.html.twig' %}

{% block headtitle %}Tableau de board{% endblock %}
{% block title %}<div class="col-12 text-center mt-4 mb-4">
	    <div class="grand-titre-tab-de-bord">
		     TABLEAU DE BORD
		</div>
	</div>{% endblock %}

{% block body %}
<!-- Page -->


<div class="container">
<div class="tab-bord-bijouterie">
<div class="row">	
  {% if is_granted('ROLE_ADMIN') %}
  <!-- First Row -->
   <div class="col-12 col-md-4 info-panel">
    <div class="card card-shadow">
      <div class="card-block">
        <img src="/bijouterieApp/public/assets/images/pict11.png" alt="stock or">
        <span class="titre-tab-de-bord">STOCK OR</span>
        <div class="content-text text-center m- mb-0">
          <span class="prix">{{chiffreAffaireStockOr|price(0, ',', ' ')}}</span>
          <p class="description">Le Chiffre d'affaire des pierres en stock</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4 info-panel">
    <div class="card card-shadow">
      <div class="card-block">
        <img src="/bijouterieApp/public/assets/images/pict11.png">
        <span class="titre-tab-de-bord">STOCK PIERRES</span>
        <div class="content-text text-center m- mb-0">
          <span class="prix">{{chiffreAffaireStockPierre|price(0, ',', ' ')}}</span>
          <p class="description">Le Chiffre d'affaire des pierres en stock</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4 info-panel">
    <div class="card card-shadow">
      <div class="card-block">
        <img src="/bijouterieApp/public/assets/images/pict11.png">
        <span class="titre-tab-de-bord">STOCK ACCESSOIRES</span>
        <div class="content-text text-center m- mb-0">
          <span class="prix">{{chiffreAffaireStockAccessoires|price(0, ',', ' ')}}</span>
          <p class="description">Le Chiffre d'affaire des pierres en stock</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 info-panel">
    <div class="card card-shadow">
      <div class="card-block">
          <img src="/bijouterieApp/public/assets/images/pict11.png">
        <span class="titre-tab-de-bord">Bijoux</span>
        <div class="content-text text-center mb-0 m-">
          <span class="prix">{{getChiffreAffaireBijoux|price(0, ',', ' ')}}</span>
          <p class="description">Prix de vente des bijoux fabriqués</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 info-panel">
    <div class="card card-shadow">
      <div class="card-block">
         <img src="/bijouterieApp/public/assets/images/pict11.png">
        <span class="titre-tab-de-bord">Bijoux en cours de fabrication</span>
        <div class="content-text text-center mb-0 m-">
          <span class="prix">{{getChiffreAffaireBijouxEnCoursDeFabrication|price(0, ',', ' ')}}</span>
          <p class="description">Prix de vente des bijoux en cours de fabrication</p>
        </div>
      </div>
    </div>
  </div>
  <!-- End First Row -->
  {% endif %}
  <!-- Third Row -->
  <!-- Third Left -->
  <div class="col-12 col-md-6" id="ecommerceRecentOrder">
   <div class="panel">
    <div class="table-responsive h-350 tab1" data-plugin="scrollable">
		<div data-role="container">
		  <div data-role="content">
			<table class="table table-striped table-dark"> 
				 <thead>
				 <h2>DERNIÈRES VENTE</h2>
				  <tr>
					<th>BIJOUS</th>
					<th>CLIENT</th>
					<th>DATE</th>
					<th>PRIX DE VENTE</th>
				  </tr>
				</thead>
				 <tbody>
				 {% for facture in factures %}
				 <tr>
				  <td>
				   {% for ligne in facture.ligneFacture %}
				   <b>{{ligne.quantite}}</b> - {{ligne.bijou}} <br>

				   {% endfor %}
				 </td>
				 <td>{{ facture.client }}</td>
				 <td>{{ facture.date|date('d/m/Y') }}</td>
				 <td>{{ (facture.montant*(100-facture.remise)/100)|price(0, ',', ' ') }}</td>
			   </tr>
			   {% else %}
			   <tr>
				 <td colspan="4">Aucune vente n'est disponible!</td>
			   </tr>
			   {% endfor %}
			 </tbody>
			</table>
		</div>
	  </div>
	</div>
 

</div>





</div>
<!-- End Third Left -->

<!-- Third Right -->
<div class="col-12 col-md-6">
 <div class="panel">
  
  
  
  <div class="table-responsive h-350 tab2" data-plugin="scrollable">
    <div data-role="container">
      <div data-role="content">
        <table class="table table-striped table-dark"> 
			<thead>
			<h2>DERNIERS ORDRE DE FABRICATION</h2>
			<tr>
			  <th scope="col">BIJOUS</th>
			  <th scope="col">QUANTITÉ</th>
			  <th scope="col">DATE</th>
			  <th scope="col">ÉTAT</th>
			</tr>
			</thead>
			<tbody>
			   {% for ordre in ordres %}
			   <tr>
				 <td>{{ ordre.bijou }}</td>
				 <td>{{ ordre.quantite }}</td>
				 <td>{{ ordre.date|date('d/m/Y') }}</td>
				 <td>{{ ordre.etat|etatFabricationBadge|raw }}</td>
			   </tr>
			   {% else %}
			   <tr>
				<td colspan="4">Aucun ordre de fabrication n'est disponible!</td>
			  </tr>
			  {% endfor %}
			</tbody>
		</table>
    </div>
  </div>
</div>







</div>
</div>
<!-- End Third Right -->
<!-- End Third Row -->

{% endblock %}
