<form method="post" action="{{ path('ordre_fabrication_delete', {'id': ordre_fabrication.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ordre_fabrication.id) }}">
    <button class="btn">Delete</button>
</form>
