{{ form_start(form) }}
<div class ="form-error">
	{{ form_errors(form) }}
</div>
<div class="tab-bord-bijouterie-form">
<div class="form-row">
	<div class="form-group col-md-3">
		{{ form_label(form.bijou) }}
		{{ form_widget(form.bijou, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="form-group  col-md-3">
		{{ form_label(form.quantite, 'Nb de pièces') }}
		{{ form_widget(form.quantite, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="form-group  col-md-3">
		{{ form_label(form.fabriquant) }}
		{{ form_widget(form.fabriquant, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="form-group col-md-3">
		{{ form_label(form.date) }}
		{{ form_widget(form.date, {'attr': {'class': 'form-control', 'data-plugin': 'datepicker'}}) }}
	</div>
	<div class="form-group  col-md-4">
		{{ form_label(form.prix) }}
		{{ form_widget(form.prix, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="form-group  col-md-4">
		{{ form_label(form.avance) }}
		{{ form_widget(form.avance, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="form-group  col-md-4">
		{{ form_label(form.etatPaiement) }}
		{{ form_widget(form.etatPaiement, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="form-group  col-md-4">
		{{ form_label(form.utiliserStockInterne) }}
		{{ form_widget(form.utiliserStockInterne, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="form-group  col-md-4">
		{{ form_label(form.etat) }}
		{{ form_widget(form.etat, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="form-group  col-md-4">
		{{ form_label(form.dateLivraison) }}
		{{ form_widget(form.dateLivraison, {'attr': {'class': 'form-control', 'data-plugin': 'datepicker'}}) }}
	</div>
	
</div>
<div class="form-row">	
	<button class="btn btn-orange">{{ button_label|default('Ajouter') }}</button>
	<a href="{{ path('ordre_fabrication_index') }}" class="retour-liste ml-20">Retour à la liste</a>

</div>

{{ form_end(form) }}
