{% extends 'base.html.twig' %}

{% block title %}OrdreFabrication{% endblock %}

{% block body %}
    <h1>OrdreFabrication</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ordre_fabrication.id }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ ordre_fabrication.quantite }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ ordre_fabrication.date ? ordre_fabrication.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ ordre_fabrication.etat }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ordre_fabrication_index') }}">back to list</a>

    <a href="{{ path('ordre_fabrication_edit', {'id': ordre_fabrication.id}) }}">edit</a>

    {{ include('ordre_fabrication/_delete_form.html.twig') }}
{% endblock %}
