{% extends 'base.html.twig' %}

{% block headtitle %}Factures{% endblock %}
{% block title %}<div class="col-12 text-center mt-4 mb-4">
	    <div class="grand-titre-tab-de-bord">
		     FACTURES
		</div>
	</div> {% endblock %}



{% block body %}
<div class="container">
<div class="tab-bord-bijouterie">

<div class="row mb-5">
   <div class="col-12 col-md-6 mb-3">
       <div class="titre-tab-page-interne">
           Liste des factures
	    </div>	   
   </div>
   <div class="col-12 col-md-6 mb-3">
         {% block headerlinks %}
			<a href="{{ path('facture_new') }}">
				<button type="button" class="btn btn-success button-add-update-tab-interne"><i class="icon wb-plus" aria-hidden="true"></i> Ajouter</button>
			</a>
		{% endblock %}
   </div>
</div> 

    <table class="table table-bordered table-dark-interne table-hover table-striped" cellspacing="0" id="exampleAddRow">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Montant</th>
                <th>Remise</th>
                <th>Total</th>
                <th>actions</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Id</th>
                <th class="datesearch">De <input style="width:120px" id="date_debut" data-plugin = "datepicker" class="form-control" value=""  /> à <input style="width:120px" id="date_fin" data-plugin = "datepicker" class="form-control" value="" /></th>
                <th>Montant</th>
                <th>Remise</th>
                <th>Total</th>
                <th>actions</th>
            </tr>
            <tr style="border:none">
                <th colspan="4" style="border:none"></th>
                <th colspan="2" style="margin-top:15px;font-wight:bold;font-size:20px;margin-right:100px;border:none"><span id='total'></span></th>
            </tr>
        </tfoot>
        <tbody>
        {% for facture in factures %}
            <tr>
                <td>{{ facture.id }}</td>
                <td>{{ facture.date ? facture.date|date('d/m/Y') : '' }}</td>
                <td>{{ facture.montant }}</td>
                <td>{{ facture.remise }} %</td>
                <td>{{ facture.montant-(facture.montant*facture.remise/100) }}</td>
                <td class="actions">
                    <a href="{{ path('facture_edit', {'id': facture.id}) }}" class="btn btn-sm btn-icon btn-pure icon-orange"
                      data-toggle="tooltip" data-original-title="Modifier"><i class="icon wb-edit" aria-hidden="true"></i></a>
                    <a href="javascript:;" data-print="{% spaceless %}{% filter escape %}{% include 'facture/print.html.twig' with { 'facture': facture } %}{% endfilter %}{% endspaceless %}" class="btn btn-sm btn-icon btn-pure color2 print icon-orange" data-toggle="tooltip" data-original-title="Imprimer"><i class="icon fa-print" aria-hidden="true"></i></a>
                    <form class="inline-block" method="post" action="{{ path('facture_delete', {'id': facture.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ facture.id) }}">
                    <a onclick="$(this).parent('form').submit()" href="javascript:;" class="btn btn-sm btn-icon btn-pure icon-orange"
                    data-toggle="tooltip" data-original-title="Supprimer"><i class="icon wb-trash" aria-hidden="true"></i></a>
                    
                </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucune facture n'est disponible!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$('.print').on('click',function(){
    
    var divToPrint=$(this).attr('data-print');
    console.log(divToPrint);
    newWin= window.open("");
    newWin.document.write(divToPrint);
    newWin.print();
    newWin.close();
});
</script>
{% endblock %}
