<html>
<head>
	<title>Facture N° : {{facture.id}}</title>
</head>
<body>
<div id="factureblock" style='width:100%;height:100%;margin:0;padding:0'>
<table style="width:90%;margin:5%;;padding-top:100px">
	<tr>
		<td colspan="2" style="text-align:center">
			<span style="font-weight:bold;font-size:32px;text-align:center">Facture N° : {{facture.id}}</span>
		</td>
	</tr>
<tr>
	<td style="vertical-align:top;width:40%;">
		<table style="margin-top:50px;width:90%;margin-right:10%">
			<tr><td style="border: 1px solid #000; border-radius: 5px; padding: 10px;font-weight:bold">Client N°: {{facture.client.id}}</td></tr>
		</table>
		<table style="margin-top:35px;width:90%;margin-right:10%">
			<tr><td style="padding: 10px;font-weight:bold"><span style="font-weight:bold">Date : {{facture.date|date("d/m/Y")}}</span></td></tr>
		</table>
	</td>
<!-- td pour le dexieme colonne -->
	<td style="width:40%;vertical-align:top">
		<table style="border: 1px solid #000;border-radius: 5px;padding: 15px 10px;margin-bottom:15px;width:100%;margin-top:50px">
		<tr>
		  <td style="border:none;padding:5px;width:310px"> {{facture.client.nom}} {{facture.client.prenom}}</td>
		  
		</tr>

		<tr>
		  <td> {{facture.client.telephone}}</td>
		</tr>
		  
		<tr>
		<td>{{facture.client.email}} </td>
		</tr>
		</table>
	</td>
</tr>
</table>
<div style="min-height:300px;">
<table class="tab-reference" style="width:90%;margin:5%;margin-top:40px;border-collapse: collapse;">
	<tr>
		<td style="border: 1px solid #000;background: #efefef;text-align:center;padding: 15px 0;width:100px;">Référence</td>
		<td style="border: 1px solid #000;background: #efefef;text-align:center;padding: 15px 0;width:100px;">Quantité</td>
		<td style="border: 1px solid #000;background: #efefef;text-align:center;padding: 15px 0;width:100px;">prix unitaire</td>
		<td style="border: 1px solid #000;background: #efefef;text-align:center;padding: 15px 0;width:100px;">prix TTC</td>
	</tr>
	{% for ligne in facture.ligneFacture %}
	<tr>
		<td style="border:1px solid #000;text-align:center;vertical-align: top;padding-top:20px">{{ ligne.bijou }}</td>
		<td style="border:1px solid #000;text-align:center;vertical-align: top;padding-top:20px">{{ ligne.quantite }}</td>
		<td style="border:1px solid #000;text-align:center;vertical-align: top;padding-top:20px">{{ ligne.prixUnitaire|price(0, ',', ' ') }} </td>

		<td style="border:1px solid #000;text-align:center;vertical-align: top;padding-top:20px">{{ (ligne.prixUnitaire*ligne.quantite)|price(0, ',', ' ') }}</td>
	</tr>
	{% endfor %}
</table>
</div>
<table align="center" style="width:90%;margin:5%;">
	<tr>
		<td style="width:60%"></td>
		<td style="border:1px solid #333;padding:5px;border-radius:5px;width:40%" class="prixUnitaire-ttc">Total : {{ facture.montant|price(0, ',', ' ') }}</td>
	</tr>
	<tr>
	<td></td>
	<td style="border:1px solid #333;padding:6px;border-radius:5px;" class="prixUnitaire-ttc">Remise : {{ facture.remise }} %</td>
	</tr>
	<tr><td></td>
	<td style="border:1px solid #333;padding:6px;border-radius:5px;" class="prixUnitaire-ttc"><b>Total TTC : {{ (facture.montant*(100 - facture.remise)/100)|price(3, ',', ' ') }}</b></td></tr>
</table>
        
</div>
</body>
</html>