{% extends 'base.html.twig' %}

{% block title %}Pierre{% endblock %}

{% block body %}
    <h1>Pierre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pierre.id }}</td>
            </tr>
            <tr>
                <th>Libele</th>
                <td>{{ pierre.libele }}</td>
            </tr>
            <tr>
                <th>Carat</th>
                <td>{{ pierre.carat }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('pierre_index') }}">back to list</a>

    <a href="{{ path('pierre_edit', {'id': pierre.id}) }}">edit</a>

    {{ include('pierre/_delete_form.html.twig') }}
{% endblock %}
